<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <h1>THE JEUNE PREMIER</h1>

      <p>
        YEVGENY ALEXEYITCH PODZHAROV, the jeune premier, a graceful, elegant
        young man with an oval face and little bags under his eyes, had come for
        the season to one of the southern towns of Russia, and tried at once to
        make the acquaintance of a few of the leading families of the place.
        &ldquo;Yes, signor,&rdquo; he would often say, gracefully swinging his
        foot and displaying his red socks, &ldquo;an artist ought to act upon
        the masses, both directly and indirectly; the first aim is attained by
        his work on the stage, the second by an acquaintance with the local
        inhabitants. On my honour, parole d&rsquo;honneur, I don&rsquo;t
        understand why it is we actors avoid making acquaintance with local
        families. Why is it? To say nothing of dinners, name-day parties,
        feasts, soir&Atilde;&copy;es fixes, to say nothing of these
        entertainments, think of the moral influence we may have on society! Is
        it not agreeable to feel one has dropped a spark in some thick skull?
        The types one meets! The women! Mon Dieu, what women! they turn
        one&rsquo;s head! One penetrates into some huge merchant&rsquo;s house,
        into the sacred retreats, and picks out some fresh and rosy little
        peach&mdash;it&rsquo;s heaven, parole d&rsquo;honneur!&rdquo;
      </p>

      <p>
        In the southern town, among other estimable families he made the
        acquaintance of that of a manufacturer called Zybaev. Whenever he
        remembers that acquaintance now he frowns contemptuously, screws up his
        eyes, and nervously plays with his watch-chain.
      </p>

      <p>
        One day&mdash;it was at a name-day party at Zybaev&rsquo;s&mdash;the
        actor was sitting in his new friends&rsquo; drawing-room and holding
        forth as usual. Around him &ldquo;types&rdquo; were sitting in armchairs
        and on the sofa, listening affably; from the next room came feminine
        laughter and the sounds of evening tea. . . . Crossing his legs, after
        each phrase sipping tea with rum in it, and trying to assume an
        expression of careless boredom, he talked of his stage triumphs.
      </p>

      <p>
        &ldquo;I am a provincial actor principally,&rdquo; he said, smiling
        condescendingly, &ldquo;but I have played in Petersburg and Moscow too.
        . . . By the way, I will describe an incident which illustrates pretty
        well the state of mind of to-day. At my benefit in Moscow the young
        people brought me such a mass of laurel wreaths that I swear by all I
        hold sacred I did not know where to put them! Parole d&rsquo;honneur!
        Later on, at a moment when funds were short, I took the laurel wreaths
        to the shop, and . . . guess what they weighed. Eighty pounds
        altogether. Ha, ha! you can&rsquo;t think how useful the money was.
        Artists, indeed, are often hard up. To-day I have hundreds, thousands,
        tomorrow nothing. . . . To-day I haven&rsquo;t a crust of bread,
        to-morrow I have oysters and anchovies, hang it all!&rdquo;
      </p>

      <p>
        The local inhabitants sipped their glasses decorously and listened. The
        well-pleased host, not knowing how to make enough of his cultured and
        interesting visitor, presented to him a distant relative who had just
        arrived, one Pavel Ignatyevitch Klimov, a bulky gentleman about forty,
        wearing a long frock-coat and very full trousers.
      </p>

      <p>
        &ldquo;You ought to know each other,&rdquo; said Zybaev as he presented
        Klimov; &ldquo;he loves theatres, and at one time used to act himself.
        He has an estate in the Tula province.&rdquo;
      </p>

      <p>
        Podzharov and Klimov got into conversation. It appeared, to the great
        satisfaction of both, that the Tula landowner lived in the very town in
        which the jeune premier had acted for two seasons in succession.
        Enquiries followed about the town, about common acquaintances, and about
        the theatre. . . .
      </p>

      <p>
        &ldquo;Do you know, I like that town awfully,&rdquo; said the jeune
        premier, displaying his red socks. &ldquo;What streets, what a charming
        park, and what society! Delightful society!&rdquo;
      </p>

      <p>&ldquo;Yes, delightful society,&rdquo; the landowner assented.</p>

      <p>
        &ldquo;A commercial town, but extremely cultured. . . . For instance,
        er-er-er . . . the head master of the high school, the public prosecutor
        . . . the officers. . . . The police captain, too, was not bad, a man,
        as the French say, enchant&Atilde;&copy;, and the women, Allah, what
        women!&rdquo;
      </p>

      <p>&ldquo;Yes, the women . . . certainly. . . .&rdquo;</p>

      <p>
        &ldquo;Perhaps I am partial; the fact is that in your town, I
        don&rsquo;t know why, I was devilishly lucky with the fair sex! I could
        write a dozen novels. To take this episode, for instance. . . . I was
        staying in Yegoryevsky Street, in the very house where the Treasury is.
        . . .&rdquo;
      </p>

      <p>&ldquo;The red house without stucco?&rdquo;</p>

      <p>
        &ldquo;Yes, yes . . . without stucco. . . . Close by, as I remember now,
        lived a local beauty, Varenka. . . .&rdquo;
      </p>

      <p>
        &ldquo;Not Varvara Nikolayevna?&rdquo; asked Klimov, and he beamed with
        satisfaction. &ldquo;She really is a beauty . . . the most beautiful
        girl in the town.&rdquo;
      </p>

      <p>
        &ldquo;The most beautiful girl in the town! A classic profile, great
        black eyes . . . . and hair to her waist! She saw me in
        &lsquo;Hamlet,&rsquo; she wrote me a letter &Atilde; la Pushkin&rsquo;s
        &lsquo;Tatyana.&rsquo; . . . I answered, as you may guess. . . .&rdquo;
      </p>

      <p>
        Podzharov looked round, and having satisfied himself that there were no
        ladies in the room, rolled his eyes, smiled mournfully, and heaved a
        sigh.
      </p>

      <p>
        &ldquo;I came home one evening after a performance,&rdquo; he whispered,
        &ldquo;and there she was, sitting on my sofa. There followed tears,
        protestations of love, kisses. . . . Oh, that was a marvellous, that was
        a divine night! Our romance lasted two months, but that night was never
        repeated. It was a night, parole d&rsquo;honneur!&rdquo;
      </p>

      <p>
        &ldquo;Excuse me, what&rsquo;s that?&rdquo; muttered Klimov, turning
        crimson and gazing open-eyed at the actor. &ldquo;I know Varvara
        Nikolayevna well: she&rsquo;s my niece.&rdquo;
      </p>

      <p>Podzharov was embarrassed, and he, too, opened his eyes wide.</p>

      <p>
        &ldquo;How&rsquo;s this?&rdquo; Klimov went on, throwing up his hands.
        &ldquo;I know the girl, and . . . and . . . I am surprised. . . .&rdquo;
      </p>

      <p>
        &ldquo;I am very sorry this has come up,&rdquo; muttered the actor,
        getting up and rubbing something out of his left eye with his little
        finger. &ldquo;Though, of course . . . of course, you as her uncle . .
        .&rdquo;
      </p>

      <p>
        The other guests, who had hitherto been listening to the actor with
        pleasure and rewarding him with smiles, were embarrassed and dropped
        their eyes.
      </p>

      <p>
        &ldquo;Please, do be so good . . . take your words back . . .&rdquo;
        said Klimov in extreme embarrassment. &ldquo;I beg you to do so!&rdquo;
      </p>

      <p>
        &ldquo;If . . . er-er-er . . . it offends you, certainly,&rdquo;
        answered the actor, with an undefined movement of his hand.
      </p>

      <p>&ldquo;And confess you have told a falsehood.&rdquo;</p>

      <p>
        &ldquo;I, no . . . er-er-er. . . . It was not a lie, but I greatly
        regret having spoken too freely. . . . And, in fact . . . I don&rsquo;t
        understand your tone!&rdquo;
      </p>

      <p>
        Klimov walked up and down the room in silence, as though in uncertainty
        and hesitation. His fleshy face grew more and more crimson, and the
        veins in his neck swelled up. After walking up and down for about two
        minutes he went up to the actor and said in a tearful voice:
      </p>

      <p>
        &ldquo;No, do be so good as to confess that you told a lie about
        Varenka! Have the goodness to do so!&rdquo;
      </p>

      <p>
        &ldquo;It&rsquo;s queer,&rdquo; said the actor, with a strained smile,
        shrugging his shoulders and swinging his leg. &ldquo;This is positively
        insulting!&rdquo;
      </p>

      <p>&ldquo;So you will not confess it?&rdquo;</p>

      <p>&ldquo;I do-on&rsquo;t understand!&rdquo;</p>

      <p>
        &ldquo;You will not? In that case, excuse me . . . I shall have to
        resort to unpleasant measures. Either, sir, I shall insult you at once
        on the spot, or . . . if you are an honourable man, you will kindly
        accept my challenge to a duel. . . . We will fight!&rdquo;
      </p>

      <p>
        &ldquo;Certainly!&rdquo; rapped out the jeune premier, with a
        contemptuous gesture. &ldquo;Certainly.&rdquo;
      </p>

      <p>
        Extremely perturbed, the guests and the host, not knowing what to do,
        drew Klimov aside and began begging him not to get up a scandal.
        Astonished feminine countenances appeared in the doorway. . . . The
        jeune premier turned round, said a few words, and with an air of being
        unable to remain in a house where he was insulted, took his cap and made
        off without saying good-bye.
      </p>

      <p>
        On his way home the jeune premier smiled contemptuously and shrugged his
        shoulders, but when he reached his hotel room and stretched himself on
        his sofa he felt exceedingly uneasy.
      </p>

      <p>
        &ldquo;The devil take him!&rdquo; he thought. &ldquo;A duel does not
        matter, he won&rsquo;t kill me, but the trouble is the other fellows
        will hear of it, and they know perfectly well it was a yarn. It&rsquo;s
        abominable! I shall be disgraced all over Russia. . . .&rdquo;
      </p>

      <p>
        Podzharov thought a little, smoked, and to calm himself went out into
        the street.
      </p>

      <p>
        &ldquo;I ought to talk to this bully, ram into his stupid noddle that he
        is a blockhead and a fool, and that I am not in the least afraid of him.
        . . .&rdquo;
      </p>

      <p>
        The jeune premier stopped before Zybaev&rsquo;s house and looked at the
        windows. Lights were still burning behind the muslin curtains and
        figures were moving about.
      </p>

      <p>&ldquo;I&rsquo;ll wait for him!&rdquo; the actor decided.</p>

      <p>
        It was dark and cold. A hateful autumn rain was drizzling as though
        through a sieve. Podzharov leaned his elbow on a lamp-post and abandoned
        himself to a feeling of uneasiness.
      </p>

      <p>He was wet through and exhausted.</p>

      <p>
        At two o&rsquo;clock in the night the guests began coming out of
        Zybaev&rsquo;s house. The landowner from Tula was the last to make his
        appearance. He heaved a sigh that could be heard by the whole street and
        scraped the pavement with his heavy overboots.
      </p>

      <p>
        &ldquo;Excuse me!&rdquo; said the jeune premier, overtaking him.
        &ldquo;One minute.&rdquo;
      </p>

      <p>
        Klimov stopped. The actor gave a smile, hesitated, and began,
        stammering: &ldquo;I . . . I confess . . . I told a lie.&rdquo;
      </p>

      <p>
        &ldquo;No, sir, you will please confess that publicly,&rdquo; said
        Klimov, and he turned crimson again. &ldquo;I can&rsquo;t leave it like
        that. . . .&rdquo;
      </p>

      <p>
        &ldquo;But you see I am apologizing! I beg you . . . don&rsquo;t you
        understand? I beg you because you will admit a duel will make talk, and
        I am in a position. . . . My fellow-actors . . . goodness knows what
        they may think. . . .&rdquo;
      </p>

      <p>
        The jeune premier tried to appear unconcerned, to smile, to stand erect,
        but his body would not obey him, his voice trembled, his eyes bAlinked
        guiltily, and his head drooped. For a good while he went on muttering
        something. Klimov listened to him, thought a little, and heaved a sigh.
      </p>

      <p>
        &ldquo;Well, so be it,&rdquo; he said. &ldquo;May God forgive you. Only
        don&rsquo;t lie in future, young man. Nothing degrades a man like lying
        . . . yes, indeed! You are a young man, you have had a good education. .
        . .&rdquo;
      </p>

      <p>
        The landowner from Tula, in a benignant, fatherly way, gave him a
        lecture, while the jeune premier listened and smiled meekly. . . . When
        it was over he smirked, bowed, and with a guilty step and a crestfallen
        air set off for his hotel.
      </p>

      <p>
        As he went to bed half an hour later he felt that he was out of danger
        and was already in excellent spirits. Serene and satisfied that the
        misunderstanding had ended so satisfactorily, he wrapped himself in the
        bedclothes, soon fell asleep, and slept soundly till ten o&rsquo;clock
        next morning.
      </p>
    </div>
  </body>
</html>
