<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>A DEFENCELESS CREATURE</p>

      <p>
        IN spite of a violent attack of gout in the night and the nervous
        exhaustion left by it, Kistunov went in the morning to his office and
        began punctually seeing the clients of the bank and persons who had come
        with petitions. He looked languid and exhausted, and spoke in a faint
        voice hardly above a whisper, as though he were dying.
      </p>

      <p>
        &ldquo;What can I do for you?&rdquo; he asked a lady in an antediluvian
        mantle, whose back view was extremely suggestive of a huge dung-beetle.
      </p>

      <p>
        &ldquo;You see, your Excellency,&rdquo; the petitioner in question
        began, speaking rapidly, &ldquo;my husband Shtchukin, a collegiate
        assessor, was ill for five months, and while he, if you will excuse my
        saying so, was laid up at home, he was for no sort of reason dismissed,
        your Excellency; and when I went for his salary they deducted, if you
        please, your Excellency, twenty-four roubles thirty-six kopecks from his
        salary. &lsquo;What for?&rsquo; I asked. &lsquo;He borrowed from the
        club fund,&rsquo; they told me, &lsquo;and the other clerks had stood
        security for him.&rsquo; How was that? How could he have borrowed it
        without my consent? It&rsquo;s impossible, your Excellency. What&rsquo;s
        the reason of it? I am a poor woman, I earn my bread by taking in
        lodgers. I am a weak, defenceless woman . . . I have to put up with ill-
        usage from everyone and never hear a kind word. . .&rdquo;
      </p>

      <p>
        The petitioner was bAlinking, and dived into her mantle for her
        handkerchief. Kistunov took her petition from her and began reading it.
      </p>

      <p>
        &ldquo;Excuse me, what&rsquo;s this?&rdquo; he asked, shrugging his
        shoulders. &ldquo;I can make nothing of it. Evidently you have come to
        the wrong place, madam. Your petition has nothing to do with us at all.
        You will have to apply to the department in which your husband was
        employed.&rdquo;
      </p>

      <p>
        &ldquo;Why, my dear sir, I have been to five places already, and they
        would not even take the petition anywhere,&rdquo; said Madame Shtchukin.
        &ldquo;I&rsquo;d quite lost my head, but, thank goodness&mdash;God bless
        him for it&mdash;my son-in-law, Boris Matveyitch, advised me to come to
        you. &lsquo;You go to Mr. Kistunov, mamma: he is an influential man, he
        can do anything for you. . . .&rsquo; Help me, your Excellency!&rdquo;
      </p>

      <p>
        &ldquo;We can do nothing for you, Madame Shtchukin. You must understand:
        your husband served in the Army Medical Department, and our
        establishment is a purely private commercial undertaking, a bank. Surely
        you must understand that!&rdquo;
      </p>

      <p>
        Kistunov shrugged his shoulders again and turned to a gentleman in a
        military uniform, with a swollen face.
      </p>

      <p>
        &ldquo;Your Excellency,&rdquo; piped Madame Shtchukin in a pitiful
        voice, &ldquo;I have the doctor&rsquo;s certificate that my husband was
        ill! Here it is, if you will kindly look at it.&rdquo;
      </p>

      <p>
        &ldquo;Very good, I believe you,&rdquo; Kistunov said irritably,
        &ldquo;but I repeat it has nothing to do with us. It&rsquo;s queer and
        positively absurd! Surely your husband must know where you are to
        apply?&rdquo;
      </p>

      <p>
        &ldquo;He knows nothing, your Excellency. He keeps on: &lsquo;It&rsquo;s
        not your business! Get away!&rsquo;&mdash;that&rsquo;s all I can get out
        of him. . . . Whose business is it, then? It&rsquo;s I have to keep them
        all!&rdquo;
      </p>

      <p>
        Kistunov again turned to Madame Shtchukin and began explaining to her
        the difference between the Army Medical Department and a private bank.
        She listened attentively, nodded in token of assent, and said:
      </p>

      <p>
        &ldquo;Yes . . . yes . . . yes . . . I understand, sir. In that case,
        your Excellency, tell them to pay me fifteen roubles at least! I agree
        to take part on account!&rdquo;
      </p>

      <p>
        &ldquo;Ough!&rdquo; sighed Kistunov, letting his head drop back.
        &ldquo;There&rsquo;s no making you see reason. Do understand that to
        apply to us with such a petition is as strange as to send in a petition
        concerning divorce, for instance, to a chemist&rsquo;s or to the
        Assaying Board. You have not been paid your due, but what have we to do
        with it?&rdquo;
      </p>

      <p>
        &ldquo;Your Excellency, make me remember you in my prayers for the rest
        of my days, have pity on a lone, lorn woman,&rdquo; wailed Madame
        Shtchukin; &ldquo;I am a weak, defenceless woman. . . . I am worried to
        death, I&rsquo;ve to settle with the lodgers and see to my
        husband&rsquo;s affairs and fly round looking after the house, and I am
        going to church every day this week, and my son-in-law is out of a job.
        . . . I might as well not eat or drink. . . . I can scarcely keep on my
        feet. . . . I haven&rsquo;t slept all night. . . .&rdquo;
      </p>

      <p>
        Kistunov was conscious of the palpitation of his heart. With a face of
        anguish, pressing his hand on his heart, he began explaining to Madame
        Shtchukin again, but his voice failed him.
      </p>

      <p>
        &ldquo;No, excuse me, I cannot talk to you,&rdquo; he said with a wave
        of his hand. &ldquo;My head&rsquo;s going round. You are hindering us
        and wasting your time. Ough! Alexey Nikolaitch,&rdquo; he said,
        addressing one of his clerks, &ldquo;please will you explain to Madame
        Shtchukin?&rdquo;
      </p>

      <p>
        Kistunov, passing by all the petitioners, went to his private room and
        signed about a dozen papers while Alexey Nikolaitch was still engaged
        with Madame Shtchukin. As he sat in his room Kistunov heard two voices:
        the monotonous, restrained bass of Alexey Nikolaitch and the shrill,
        wailing voice of Madame Shtchukin.
      </p>

      <p>
        &ldquo;I am a weak, defenceless woman, I am a woman in delicate
        health,&rdquo; said Madame Shtchukin. &ldquo;I look strong, but if you
        were to overhaul me there is not one healthy fibre in me. I can scarcely
        keep on my feet, and my appetite is gone. . . . I drank my cup of coffee
        this morning without the slightest relish. . . .&rdquo;
      </p>

      <p>
        Alexey Nikolaitch explained to her the difference between the
        departments and the complicated system of sending in papers. He was soon
        exhausted, and his place was taken by the accountant.
      </p>

      <p>
        &ldquo;A wonderfully disagreeable woman!&rdquo; said Kistunov, revolted,
        nervously cracking his fingers and continually going to the decanter of
        water. &ldquo;She&rsquo;s a perfect idiot! She&rsquo;s worn me out and
        she&rsquo;ll exhaust them, the nasty creature! Ough! . . . my heart is
        throbbing.&rdquo;
      </p>

      <p>
        Half an hour later he rang his bell. Alexey Nikolaitch made his
        appearance.
      </p>

      <p>&ldquo;How are things going?&rdquo; Kistunov asked languidly.</p>

      <p>
        &ldquo;We can&rsquo;t make her see anything, Pyotr Alexandritch! We are
        simply done. We talk of one thing and she talks of something
        else.&rdquo;
      </p>

      <p>
        &ldquo;I . . . I can&rsquo;t stand the sound of her voice. . . . I am
        ill . . . . I can&rsquo;t bear it.&rdquo;
      </p>

      <p>
        &ldquo;Send for the porter, Pyotr Alexandritch, let him put her
        out.&rdquo;
      </p>

      <p>
        &ldquo;No, no,&rdquo; cried Kistunov in alarm. &ldquo;She will set up a
        squeal, and there are lots of flats in this building, and goodness knows
        what they would think of us. . . . Do try and explain to her, my dear
        fellow. . . .&rdquo;
      </p>

      <p>
        A minute later the deep drone of Alexey Nikolaitch&rsquo;s voice was
        audible again. A quarter of an hour passed, and instead of his bass
        there was the murmur of the accountant&rsquo;s powerful tenor.
      </p>

      <p>
        &ldquo;Re-mark-ably nasty woman,&rdquo; Kistunov thought indignantly,
        nervously shrugging his shoulders. &ldquo;No more brains than a sheep. I
        believe that&rsquo;s a twinge of the gout again. . . . My migraine is
        coming back. . . .&rdquo;
      </p>

      <p>
        In the next room Alexey Nikolaitch, at the end of his resources, at last
        tapped his finger on the table and then on his own forehead.
      </p>

      <p>
        &ldquo;The fact of the matter is you haven&rsquo;t a head on your
        shoulders,&rdquo; he said, &ldquo;but this.&rdquo;
      </p>

      <p>
        &ldquo;Come, come,&rdquo; said the old lady, offended. &ldquo;Talk to
        your own wife like that. . . . You screw! . . . Don&rsquo;t be too free
        with your hands.&rdquo;
      </p>

      <p>
        And looking at her with fury, with exasperation, as though he would
        devour her, Alexey Nikolaitch said in a quiet, stifled voice:
      </p>

      <p>&ldquo;Clear out.&rdquo;</p>

      <p>
        &ldquo;Wha-at?&rdquo; squealed Madame Shtchukin. &ldquo;How dare you? I
        am a weak, defenceless woman; I won&rsquo;t endure it. My husband is a
        collegiate assessor. You screw! . . . I will go to Dmitri Karlitch, the
        lawyer, and there will be nothing left of you! I&rsquo;ve had the law of
        three lodgers, and I will make you flop down at my feet for your saucy
        words! I&rsquo;ll go to your general. Your Excellency, your
        Excellency!&rdquo;
      </p>

      <p>&ldquo;Be off, you pest,&rdquo; hissed Alexey Nikolaitch.</p>

      <p>Kistunov opened his door and looked into the office.</p>

      <p>&ldquo;What is it?&rdquo; he asked in a tearful voice.</p>

      <p>
        Madame Shtchukin, as red as a crab, was standing in the middle of the
        room, rolling her eyes and prodding the air with her fingers. The bank
        clerks were standing round red in the face too, and, evidently harassed,
        were looking at each other distractedly.
      </p>

      <p>
        &ldquo;Your Excellency,&rdquo; cried Madame Shtchukin, pouncing upon
        Kistunov. &ldquo;Here, this man, he here . . . this man . . .&rdquo;
        (she pointed to Alexey Nikolaitch) &ldquo;tapped himself on the forehead
        and then tapped the table. . . . You told him to go into my case, and
        he&rsquo;s jeering at me! I am a weak, defenceless woman. . . . My
        husband is a collegiate assessor, and I am a major&rsquo;s daughter
        myself!&rdquo;
      </p>

      <p>
        &ldquo;Very good, madam,&rdquo; moaned Kistunov. &ldquo;I will go into
        it . . . I will take steps. . . . Go away . . . later!&rdquo;
      </p>

      <p>
        &ldquo;And when shall I get the money, your Excellency? I need it
        to-day!&rdquo;
      </p>

      <p>
        Kistunov passed his trembling hand over his forehead, heaved a sigh, and
        began explaining again.
      </p>

      <p>
        &ldquo;Madam, I have told you already this is a bank, a private
        commercial establishment. . . . What do you want of us? And do
        understand that you are hindering us.&rdquo;
      </p>

      <p>Madame Shtchukin listened to him and sighed.</p>

      <p>
        &ldquo;To be sure, to be sure,&rdquo; she assented. &ldquo;Only, your
        Excellency, do me the kindness, make me pray for you for the rest of my
        life, be a father, protect me! If a medical certificate is not enough I
        can produce an affidavit from the police. . . . Tell them to give me the
        money.&rdquo;
      </p>

      <p>
        Everything began swimming before Kistunov&rsquo;s eyes. He breathed out
        all the air in his lungs in a prolonged sigh and sank helpless on a
        chair.
      </p>

      <p>&ldquo;How much do you want?&rdquo; he asked in a weak voice.</p>

      <p>&ldquo;Twenty-four roubles and thirty-six kopecks.&rdquo;</p>

      <p>
        Kistunov took his pocket-book out of his pocket, extracted a twenty-five
        rouble note and gave it to Madame Shtchukin.
      </p>

      <p>&ldquo;Take it and . . . and go away!&rdquo;</p>

      <p>
        Madame Shtchukin wrapped the money up in her handkerchief, put it away,
        and pursing up her face into a sweet, mincing, even coquettish smile,
        asked:
      </p>

      <p>
        &ldquo;Your Excellency, and would it be possible for my husband to get a
        post again?&rdquo;
      </p>

      <p>
        &ldquo;I am going . . . I am ill . . .&rdquo; said Kistunov in a weary
        voice. &ldquo;I have dreadful palpitations.&rdquo;
      </p>

      <p>
        When he had driven home Alexey Nikolaitch sent Nikita for some laurel
        drops, and, after taking twenty drops each, all the clerks set to work,
        while Madame Shtchukin stayed another two hours in the vestibule,
        talking to the porter and waiting for Kistunov to return. . . .
      </p>

      <p>She came again next day.</p>
    </div>
  </body>
</html>
