<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>AN ENIGMATIC NATURE</p>

      <p>
        ON the red velvet seat of a first-class railway carriage a pretty lady
        sits half reclining. An expensive fluffy fan trembles in her tightly
        closed fingers, a pince-nez keeps dropping off her pretty little nose,
        the brooch heaves and falls on her bosom, like a boat on the ocean. She
        is greatly agitated.
      </p>

      <p>
        On the seat opposite sits the Provincial Secretary of Special
        Commissions, a budding young author, who from time to time publishes
        long stories of high life, or &ldquo;Novelli&rdquo; as he calls them, in
        the leading paper of the province. He is gazing into her face, gazing
        intently, with the eyes of a connoisseur. He is watching, studying,
        catching every shade of this exceptional, enigmatic nature. He
        understands it, he fathoms it. Her soul, her whole psychology lies open
        before him.
      </p>

      <p>
        &ldquo;Oh, I understand, I understand you to your inmost depths!&rdquo;
        says the Secretary of Special Commissions, kissing her hand near the
        bracelet. &ldquo;Your sensitive, responsive soul is seeking to escape
        from the maze of &mdash;&mdash; Yes, the struggle is terrific, titanic.
        But do not lose heart, you will be triumphant! Yes!&rdquo;
      </p>

      <p>
        &ldquo;Write about me, Voldemar!&rdquo; says the pretty lady, with a
        mournful smile. &ldquo;My life has been so full, so varied, so
        chequered. Above all, I am unhappy. I am a suffering soul in some page
        of Dostoevsky. Reveal my soul to the world, Voldemar. Reveal that
        hapless soul. You are a psychologist. We have not been in the train an
        hour together, and you have already fathomed my heart.&rdquo;
      </p>

      <p>&ldquo;Tell me! I beseech you, tell me!&rdquo;</p>

      <p>
        &ldquo;Listen. My father was a poor clerk in the Service. He had a good
        heart and was not without intelligence; but the spirit of the
        age&mdash;of his environment&mdash;vous comprenez?&mdash;I do not blame
        my poor father. He drank, gambled, took bribes. My mother&mdash;but why
        say more? Poverty, the struggle for daily bread, the consciousness of
        insignificance&mdash;ah, do not force me to recall it! I had to make my
        own way. You know the monstrous education at a boarding-school, foolish
        novel-reading, the errors of early youth, the first timid flutter of
        love. It was awful! The vacillation! And the agonies of losing faith in
        life, in oneself! Ah, you are an author. You know us women. You will
        understand. Unhappily I have an intense nature. I looked for
        happiness&mdash;and what happiness! I longed to set my soul free. Yes.
        In that I saw my happiness!&rdquo;
      </p>

      <p>
        &ldquo;Exquisite creature!&rdquo; murmured the author, kissing her hand
        close to the bracelet. &ldquo;It&rsquo;s not you I am kissing, but the
        suffering of humanity. Do you remember Raskolnikov and his kiss?&rdquo;
      </p>

      <p>
        &ldquo;Oh, Voldemar, I longed for glory, renown, success, like
        every&mdash;why affect modesty?&mdash;every nature above the
        commonplace. I yearned for something extraordinary, above the common lot
        of woman! And then&mdash;and then&mdash;there crossed my path&mdash;an
        old general&mdash;very well off. Understand me, Voldemar! It was
        self-sacrifice, renunciation! You must see that! I could do nothing
        else. I restored the family fortunes, was able to travel, to do good.
        Yet how I suffered, how revolting, how loathsome to me were his
        embraces&mdash;though I will be fair to him&mdash;he had fought nobly in
        his day. There were moments&mdash;terrible moments&mdash;but I was kept
        up by the thought that from day to day the old man might die, that then
        I would begin to live as I liked, to give myself to the man I
        adore&mdash;be happy. There is such a man, Voldemar, indeed there
        is!&rdquo;
      </p>

      <p>
        The pretty lady flutters her fan more violently. Her face takes a
        lachrymose expression. She goes on:
      </p>

      <p>
        &ldquo;But at last the old man died. He left me something. I was free as
        a bird of the air. Now is the moment for me to be happy, isn&rsquo;t it,
        Voldemar? Happiness comes tapping at my window, I had only to let it
        in&mdash;but&mdash;Voldemar, listen, I implore you! Now is the time for
        me to give myself to the man I love, to become the partner of his life,
        to help, to uphold his ideals, to be happy&mdash;to find
        rest&mdash;but&mdash;how ignoble, repulsive, and senseless all our life
        is! How mean it all is, Voldemar. I am wretched, wretched, wretched!
        Again there is an obstacle in my path! Again I feel that my happiness is
        far, far away! Ah, what anguish!&mdash;if only you knew what
        anguish!&rdquo;
      </p>

      <p>
        &ldquo;But what&mdash;what stands in your way? I implore you tell me!
        What is it?&rdquo;
      </p>

      <p>&ldquo;Another old general, very well off&mdash;&mdash;&rdquo;</p>

      <p>
        The broken fan conceals the pretty little face. The author props on his
        fist his thought-heavy brow and ponders with the air of a master in
        psychology. The engine is whistling and hissing while the window
        curtains flush red with the glow of the setting sun.
      </p>
    </div>
  </body>
</html>
