<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>A HAPPY MAN</p>

      <p>
        THE passenger train is just starting from Bologoe, the junction on the
        Petersburg-Moscow line. In a second-class smoking compartment five
        passengers sit dozing, shrouded in the twilight of the carriage. They
        had just had a meal, and now, snugly ensconced in their seats, they are
        trying to go to sleep. Stillness.
      </p>

      <p>
        The door opens and in there walks a tall, lanky figure straight as a
        poker, with a ginger-coloured hat and a smart overcoat, wonderfully
        suggestive of a journalist in Jules Verne or on the comic stage.
      </p>

      <p>
        The figure stands still in the middle of the compartment for a long
        while, breathing heavily, screwing up his eyes and peering at the seats.
      </p>

      <p>
        &ldquo;No, wrong again!&rdquo; he mutters. &ldquo;What the deuce!
        It&rsquo;s positively revolting! No, the wrong one again!&rdquo;
      </p>

      <p>
        One of the passengers stares at the figure and utters a shout of joy:
      </p>

      <p>&ldquo;Ivan Alexyevitch! what brings you here? Is it you?&rdquo;</p>

      <p>
        The poker-like gentleman starts, stares blankly at the passenger, and
        recognizing him claps his hands with delight.
      </p>

      <p>
        &ldquo;Ha! Pyotr Petrovitch,&rdquo; he says. &ldquo;How many summers,
        how many winters! I didn&rsquo;t know you were in this train.&rdquo;
      </p>

      <p>&ldquo;How are you getting on?&rdquo;</p>

      <p>
        &ldquo;I am all right; the only thing is, my dear fellow, I&rsquo;ve
        lost my compartment and I simply can&rsquo;t find it. What an idiot I
        am! I ought to be thrashed!&rdquo;
      </p>

      <p>The poker-like gentleman sways a little unsteadily and sniggers.</p>

      <p>
        &ldquo;Queer things do happen!&rdquo; he continues. &ldquo;I stepped out
        just after the second bell to get a glass of brandy. I got it, of
        course. Well, I thought, since it&rsquo;s a long way to the next
        station, it would be as well to have a second glass. While I was
        thinking about it and drinking it the third bell rang. . . . I ran like
        mad and jumped into the first carriage. I am an idiot! I am the son of a
        hen!&rdquo;
      </p>

      <p>
        &ldquo;But you seem in very good spirits,&rdquo; observes Pyotr
        Petrovitch. &ldquo;Come and sit down! There&rsquo;s room and a
        welcome.&rdquo;
      </p>

      <p>
        &ldquo;No, no. . . . I&rsquo;m off to look for my carriage.
        Good-bye!&rdquo;
      </p>

      <p>
        &ldquo;You&rsquo;ll fall between the carriages in the dark if you
        don&rsquo;t look out! Sit down, and when we get to a station
        you&rsquo;ll find your own compartment. Sit down!&rdquo;
      </p>

      <p>
        Ivan Alexyevitch heaves a sigh and irresolutely sits down facing Pyotr
        Petrovitch. He is visibly excited, and fidgets as though he were sitting
        on thorns.
      </p>

      <p>
        &ldquo;Where are you travelling to?&rdquo; Pyotr Petrovitch enquires.
      </p>

      <p>
        &ldquo;I? Into space. There is such a turmoil in my head that I
        couldn&rsquo;t tell where I am going myself. I go where fate takes me.
        Ha-ha! My dear fellow, have you ever seen a happy fool? No? Well, then,
        take a look at one. You behold the happiest of mortals! Yes! Don&rsquo;t
        you see something from my face?&rdquo;
      </p>

      <p>
        &ldquo;Well, one can see you&rsquo;re a bit . . . a tiny bit
        so-so.&rdquo;
      </p>

      <p>
        &ldquo;I dare say I look awfully stupid just now. Ach! it&rsquo;s a pity
        I haven&rsquo;t a looking-glass, I should like to look at my
        counting-house. My dear fellow, I feel I am turning into an idiot,
        honour bright. Ha-ha! Would you believe it, I&rsquo;m on my honeymoon.
        Am I not the son of a hen?&rdquo;
      </p>

      <p>&ldquo;You? Do you mean to say you are married?&rdquo;</p>

      <p>
        &ldquo;To-day, my dear boy. We came away straight after the
        wedding.&rdquo;
      </p>

      <p>
        Congratulations and the usual questions follow. &ldquo;Well, you are a
        fellow!&rdquo; laughs Pyotr Petrovitch. &ldquo;That&rsquo;s why you are
        rigged out such a dandy.&rdquo;
      </p>

      <p>
        &ldquo;Yes, indeed. . . . To complete the illusion, I&rsquo;ve even
        sprinkled myself with scent. I am over my ears in vanity! No care, no
        thought, nothing but a sensation of something or other . . . deuce knows
        what to call it . . . beatitude or something? I&rsquo;ve never felt so
        grand in my life!&rdquo;
      </p>

      <p>Ivan Alexyevitch shuts his eyes and waggles his head.</p>

      <p>
        &ldquo;I&rsquo;m revoltingly happy,&rdquo; he says. &ldquo;Just think;
        in a minute I shall go to my compartment. There on the seat near the
        window is sitting a being who is, so to say, devoted to you with her
        whole being. A little blonde with a little nose . . . little fingers. .
        . . My little darling! My angel! My little poppet! Phylloxera of my
        soul! And her little foot! Good God! A little foot not like our
        beetle-crushers, but something miniature, fairylike, allegorical. I
        could pick it up and eat it, that little foot! Oh, but you don&rsquo;t
        understand! You&rsquo;re a materialist, of course, you begin analyzing
        at once, and one thing and another. You are cold-hearted bachelors,
        that&rsquo;s what you are! When you get married you&rsquo;ll think of
        me. &lsquo;Where&rsquo;s Ivan Alexyevitch now?&rsquo; you&rsquo;ll say.
        Yes; so in a minute I&rsquo;m going to my compartment. There she is
        waiting for me with impatience . . . in joyful anticipation of my
        appearance. She&rsquo;ll have a smile to greet me. I sit down beside her
        and take her chin with my two fingers.&rdquo;
      </p>

      <p>
        Ivan Alexyevitch waggles his head and goes off into a chuckle of
        delight.
      </p>

      <p>
        &ldquo;Then I lay my noddle on her shoulder and put my arm round her
        waist. Around all is silence, you know . . . poetic twilight. I could
        embrace the whole world at such a moment. Pyotr Petrovitch, allow me to
        embrace you!&rdquo;
      </p>

      <p>
        &ldquo;Delighted, I&rsquo;m sure.&rdquo; The two friends embrace while
        the passengers laugh in chorus. And the happy bridegroom continues:
      </p>

      <p>
        &ldquo;And to complete the idiocy, or, as the novelists say, to complete
        the illusion, one goes to the refreshment-room and tosses off two or
        three glasses. And then something happens in your head and your heart,
        finer than you can read of in a fairy tale. I am a man of no importance,
        but I feel as though I were limitless: I embrace the whole world!&rdquo;
      </p>

      <p>
        The passengers, looking at the tipsy and blissful bridegroom, are
        infected by his cheerfulness and no longer feel sleepy. Instead of one
        listener, Ivan Alexyevitch has now an audience of five. He wriggles and
        splutters, gesticulates, and prattles on without ceasing. He laughs and
        they all laugh.
      </p>

      <p>
        &ldquo;Gentlemen, gentlemen, don&rsquo;t think so much! Damn all this
        analysis! If you want a drink, drink, no need to philosophize as to
        whether it&rsquo;s bad for you or not. . . . Damn all this philosophy
        and psychology!&rdquo;
      </p>

      <p>The guard walks through the compartment.</p>

      <p>
        &ldquo;My dear fellow,&rdquo; the bridegroom addresses him, &ldquo;when
        you pass through the carriage No. 209 look out for a lady in a grey hat
        with a white bird and tell her I&rsquo;m here!&rdquo;
      </p>

      <p>
        &ldquo;Yes, sir. Only there isn&rsquo;t a No. 209 in this train;
        there&rsquo;s 219!&rdquo;
      </p>

      <p>
        &ldquo;Well, 219, then! It&rsquo;s all the same. Tell that lady, then,
        that her husband is all right!&rdquo;
      </p>

      <p>Ivan Alexyevitch suddenly clutches his head and groans:</p>

      <p>
        &ldquo;Husband. . . . Lady. . . . All in a minute! Husband. . . . Ha-ha!
        I am a puppy that needs thrashing, and here I am a husband! Ach, idiot!
        But think of her! . . . Yesterday she was a little girl, a midget . . .
        it s simply incredible!&rdquo;
      </p>

      <p>
        &ldquo;Nowadays it really seems strange to see a happy man,&rdquo;
        observes one of the passengers; &ldquo;one as soon expects to see a
        white elephant.&rdquo;
      </p>

      <p>
        &ldquo;Yes, and whose fault is it?&rdquo; says Ivan Alexyevitch,
        stretching his long legs and thrusting out his feet with their very
        pointed toes. &ldquo;If you are not happy it&rsquo;s your own fault!
        Yes, what else do you suppose it is? Man is the creator of his own
        happiness. If you want to be happy you will be, but you don&rsquo;t want
        to be! You obstinately turn away from happiness.&rdquo;
      </p>

      <p>&ldquo;Why, what next! How do you make that out?&rdquo;</p>

      <p>
        &ldquo;Very simply. Nature has ordained that at a certain stage in his
        life man should love. When that time comes you should love like a house
        on fire, but you won&rsquo;t heed the dictates of nature, you keep
        waiting for something. What&rsquo;s more, it&rsquo;s laid down by law
        that the normal man should enter upon matrimony. There&rsquo;s no
        happiness without marriage. When the propitious moment has come, get
        married. There&rsquo;s no use in shilly- shallying. . . . But you
        don&rsquo;t get married, you keep waiting for something! Then the
        Scriptures tell us that &lsquo;wine maketh glad the heart of man.&rsquo;
        . . . If you feel happy and you want to feel better still, then go to
        the refreshment bar and have a drink. The great thing is not to be too
        clever, but to follow the beaten track! The beaten track is a grand
        thing!&rdquo;
      </p>

      <p>
        &ldquo;You say that man is the creator of his own happiness. How the
        devil is he the creator of it when a toothache or an ill-natured
        mother-in-law is enough to scatter his happiness to the winds?
        Everything depends on chance. If we had an accident at this moment
        you&rsquo;d sing a different tune.&rdquo;
      </p>

      <p>
        &ldquo;Stuff and nonsense!&rdquo; retorts the bridegroom. &ldquo;Railway
        accidents only happen once a year. I&rsquo;m not afraid of an accident,
        for there is no reason for one. Accidents are exceptional! Confound
        them! I don&rsquo;t want to talk of them! Oh, I believe we&rsquo;re
        stopping at a station.&rdquo;
      </p>

      <p>
        &ldquo;Where are you going now?&rdquo; asks Pyotr Petrovitch. &ldquo;To
        Moscow or somewhere further south?
      </p>

      <p>
        &ldquo;Why, bless you! How could I go somewhere further south, when
        I&rsquo;m on my way to the north?&rdquo;
      </p>

      <p>&ldquo;But Moscow isn&rsquo;t in the north.&rdquo;</p>

      <p>
        &ldquo;I know that, but we&rsquo;re on our way to Petersburg,&rdquo;
        says Ivan Alexyevitch.
      </p>

      <p>&ldquo;We are going to Moscow, mercy on us!&rdquo;</p>

      <p>
        &ldquo;To Moscow? What do you mean?&rdquo; says the bridegroom in
        amazement.
      </p>

      <p>
        &ldquo;It&rsquo;s queer. . . . For what station did you take your
        ticket?&rdquo;
      </p>

      <p>&ldquo;For Petersburg.&rdquo;</p>

      <p>
        &ldquo;In that case I congratulate you. You&rsquo;ve got into the wrong
        train.&rdquo;
      </p>

      <p>
        There follows a minute of silence. The bridegroom gets up and looks
        blankly round the company.
      </p>

      <p>
        &ldquo;Yes, yes,&rdquo; Pyotr Petrovitch explains. &ldquo;You must have
        jumped into the wrong train at Bologoe. . . . After your glass of brandy
        you succeeded in getting into the down-train.&rdquo;
      </p>

      <p>
        Ivan Alexyevitch turns pale, clutches his head, and begins pacing
        rapidly about the carriage.
      </p>

      <p>
        &ldquo;Ach, idiot that I am!&rdquo; he says in indignation.
        &ldquo;Scoundrel! The devil devour me! Whatever am I to do now? Why, my
        wife is in that train! She&rsquo;s there all alone, expecting me,
        consumed by anxiety. Ach, I&rsquo;m a motley fool!&rdquo;
      </p>

      <p>
        The bridegroom falls on the seat and writhes as though someone had
        trodden on his corns.
      </p>

      <p>
        &ldquo;I am un-unhappy man!&rdquo; he moans. &ldquo;What am I to do,
        what am I to do?&rdquo;
      </p>

      <p>
        &ldquo;There, there!&rdquo; the passengers try to console him.
        &ldquo;It&rsquo;s all right . . . . You must telegraph to your wife and
        try to change into the Petersburg express. In that way you&rsquo;ll
        overtake her.&rdquo;
      </p>

      <p>
        &ldquo;The Petersburg express!&rdquo; weeps the bridegroom, the creator
        of his own happiness. &ldquo;And how am I to get a ticket for the
        Petersburg express? All my money is with my wife.&rdquo;
      </p>

      <p>
        The passengers, laughing and whispering together, make a collection and
        furnish the happy man with funds.
      </p>
    </div>
  </body>
</html>
