<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>AN ACTOR&rsquo;S END</p>

      <p>
        SHTCHIPTSOV, the &ldquo;heavy father&rdquo; and &ldquo;good-hearted
        simpleton,&rdquo; a tall and thick-set old man, not so much
        distinguished by his talents as an actor as by his exceptional physical
        strength, had a desperate quarrel with the manager during the
        performance, and just when the storm of words was at its height felt as
        though something had snapped in his chest. Zhukov, the manager, as a
        rule began at the end of every heated discussion to laugh hysterically
        and to fall into a swoon; on this occasion, however, Shtchiptsov did not
        remain for this climax, but hurried home. The high words and the
        sensation of something ruptured in his chest so agitated him as he left
        the theatre that he forgot to wash off his paint, and did nothing but
        take off his beard.
      </p>

      <p>
        When he reached his hotel room, Shtchiptsov spent a long time pacing up
        and down, then sat down on the bed, propped his head on his fists, and
        sank into thought. He sat like that without stirring or uttering a sound
        till two o&rsquo;clock the next afternoon, when Sigaev, the comic man,
        walked into his room.
      </p>

      <p>
        &ldquo;Why is it you did not come to the rehearsal, Booby
        Ivanitch?&rdquo; the comic man began, panting and filling the room with
        fumes of vodka. &ldquo;Where have you been?&rdquo;
      </p>

      <p>
        Shtchiptsov made no answer, but simply stared at the comic man with
        lustreless eyes, under which there were smudges of paint.
      </p>

      <p>
        &ldquo;You might at least have washed your phiz!&rdquo; Sigaev went on.
        &ldquo;You are a disgraceful sight! Have you been boozing, or . . . are
        you ill, or what? But why don&rsquo;t you speak? I am asking you: are
        you ill?&rdquo;
      </p>

      <p>
        Shtchiptsov did not speak. In spite of the paint on his face, the comic
        man could not help noticing his striking pallor, the drops of sweat on
        his forehead, and the twitching of his lips. His hands and feet were
        trembling too, and the whole huge figure of the &ldquo;good-natured
        simpleton&rdquo; looked somehow crushed and flattened. The comic man
        took a rapid glance round the room, but saw neither bottle nor flask nor
        any other suspicious vessel.
      </p>

      <p>
        &ldquo;I say, Mishutka, you know you are ill!&rdquo; he said in a
        flutter. &ldquo;Strike me dead, you are ill! You don&rsquo;t look
        yourself!&rdquo;
      </p>

      <p>Shtchiptsov remained silent and stared disconsolately at the floor.</p>

      <p>
        &ldquo;You must have caught cold,&rdquo; said Sigaev, taking him by the
        hand. &ldquo;Oh, dear, how hot your hands are! What&rsquo;s the
        trouble?&rdquo;
      </p>

      <p>&ldquo;I wa-ant to go home,&rdquo; muttered Shtchiptsov.</p>

      <p>&ldquo;But you are at home now, aren&rsquo;t you?&rdquo;</p>

      <p>&ldquo;No. . . . To Vyazma. . . .&rdquo;</p>

      <p>
        &ldquo;Oh, my, anywhere else! It would take you three years to get to
        your Vyazma. . . . What? do you want to go and see your daddy and mummy?
        I&rsquo;ll be bound, they&rsquo;ve kicked the bucket years ago, and you
        won&rsquo;t find their graves. . . .&rdquo;
      </p>

      <p>&ldquo;My ho-ome&rsquo;s there.&rdquo;</p>

      <p>
        &ldquo;Come, it&rsquo;s no good giving way to the dismal dumps. These
        neurotic feelings are the limit, old man. You must get well, for you
        have to play Mitka in &lsquo;The Terrible Tsar&rsquo; to-morrow. There
        is nobody else to do it. Drink something hot and take some castor-oil?
        Have you got the money for some castor-oil? Or, stay, I&rsquo;ll run and
        buy some.&rdquo;
      </p>

      <p>
        The comic man fumbled in his pockets, found a fifteen-kopeck piece, and
        ran to the chemist&rsquo;s. A quarter of an hour later he came back.
      </p>

      <p>
        &ldquo;Come, drink it,&rdquo; he said, holding the bottle to the
        &ldquo;heavy father&rsquo;s&rdquo; mouth. &ldquo;Drink it straight out
        of the bottle. . . . All at a go! That&rsquo;s the way. . . . Now nibble
        at a clove that your very soul mayn&rsquo;t stink of the filthy
        stuff.&rdquo;
      </p>

      <p>
        The comic man sat a little longer with his sick friend, then kissed him
        tenderly, and went away. Towards evening the jeune premier, Brama-
        Glinsky, ran in to see Shtchiptsov. The gifted actor was wearing a pair
        of prunella boots, had a glove on his left hand, was smoking a cigar,
        and even smelt of heliotrope, yet nevertheless he strongly suggested a
        traveller cast away in some land in which there were neither baths nor
        laundresses nor tailors. . . .
      </p>

      <p>
        &ldquo;I hear you are ill?&rdquo; he said to Shtchiptsov, twirling round
        on his heel. &ldquo;What&rsquo;s wrong with you? What&rsquo;s wrong with
        you, really? . . .&rdquo;
      </p>

      <p>Shtchiptsov did not speak nor stir.</p>

      <p>
        &ldquo;Why don&rsquo;t you speak? Do you feel giddy? Oh well,
        don&rsquo;t talk, I won&rsquo;t pester you . . . don&rsquo;t talk. . .
        .&rdquo;
      </p>

      <p>
        Brama-Glinsky (that was his stage name, in his passport he was called
        Guskov) walked away to the window, put his hands in his pockets, and
        fell to gazing into the street. Before his eyes stretched an immense
        waste, bounded by a grey fence beside which ran a perfect forest of last
        year&rsquo;s burdocks. Beyond the waste ground was a dark, deserted
        factory, with windows boarded up. A belated jackdaw was flying round the
        chimney. This dreary, lifeless scene was beginning to be veiled in the
        dusk of evening.
      </p>

      <p>&ldquo;I must go home!&rdquo; the jeune premier heard.</p>

      <p>&ldquo;Where is home?&rdquo;</p>

      <p>&ldquo;To Vyazma . . . to my home. . . .&rdquo;</p>

      <p>
        &ldquo;It is a thousand miles to Vyazma . . . my boy,&rdquo; sighed
        Brama-Glinsky, drumming on the window-pane. &ldquo;And what do you want
        to go to Vyazma for?&rdquo;
      </p>

      <p>&ldquo;I want to die there.&rdquo;</p>

      <p>
        &ldquo;What next! Now he&rsquo;s dying! He has fallen ill for the first
        time in his life, and already he fancies that his last hour is come. . .
        . No, my boy, no cholera will carry off a buffalo like you. You&rsquo;ll
        live to be a hundred. . . . Where&rsquo;s the pain?&rdquo;
      </p>

      <p>&ldquo;There&rsquo;s no pain, but I . . . feel . . .&rdquo;</p>

      <p>
        &ldquo;You don&rsquo;t feel anything, it all comes from being too
        healthy. Your surplus energy upsets you. You ought to get jolly
        tight&mdash;drink, you know, till your whole inside is topsy-turvy.
        Getting drunk is wonderfully restoring. . . . Do you remember how
        screwed you were at Rostov on the Don? Good Lord, the very thought of it
        is alarming! Sashka and I together could only just carry in the barrel,
        and you emptied it alone, and even sent for rum afterwards. . . . You
        got so drunk you were catching devils in a sack and pulled a lamp-post
        up by the roots. Do you remember? Then you went off to beat the Greeks.
        . . .&rdquo;
      </p>

      <p>
        Under the influence of these agreeable reminiscences Shtchiptsov&rsquo;s
        face brightened a little and his eyes began to shine.
      </p>

      <p>
        &ldquo;And do you remember how I beat Savoikin the manager?&rdquo; he
        muttered, raising his head. &ldquo;But there! I&rsquo;ve beaten
        thirty-three managers in my time, and I can&rsquo;t remember how many
        smaller fry. And what managers they were! Men who would not permit the
        very winds to touch them! I&rsquo;ve beaten two celebrated authors and
        one painter!&rdquo;
      </p>

      <p>&ldquo;What are you crying for?&rdquo;</p>

      <p>
        &ldquo;At Kherson I killed a horse with my fists. And at Taganrog some
        roughs fell upon me at night, fifteen of them. I took off their caps and
        they followed me, begging: &lsquo;Uncle, give us back our caps.&rsquo;
        That&rsquo;s how I used to go on.&rdquo;
      </p>

      <p>&ldquo;What are you crying for, then, you silly?&rdquo;</p>

      <p>
        &ldquo;But now it&rsquo;s all over . . . I feel it. If only I could go
        to Vyazma!&rdquo;
      </p>

      <p>
        A pause followed. After a silence Shtchiptsov suddenly jumped up and
        seized his cap. He looked distraught.
      </p>

      <p>
        &ldquo;Good-bye! I am going to Vyazma!&rdquo; he articulated,
        staggering.
      </p>

      <p>&ldquo;And the money for the journey?&rdquo;</p>

      <p>&ldquo;H&rsquo;m! . . . I shall go on foot!&rdquo;</p>

      <p>&ldquo;You are crazy. . . .&rdquo;</p>

      <p>
        The two men looked at each other, probably because the same
        thought&mdash;of the boundless plains, the unending forests and
        swamps&mdash;struck both of them at once.
      </p>

      <p>
        &ldquo;Well, I see you have gone off your head,&rdquo; the jeune premier
        commented. &ldquo;I&rsquo;ll tell you what, old man. . . . First thing,
        go to bed, then drink some brandy and tea to put you into a sweat. And
        some castor-oil, of course. Stay, where am I to get some brandy?&rdquo;
      </p>

      <p>
        Brama-Glinsky thought a minute, then made up his mind to go to a
        shopkeeper called Madame Tsitrinnikov to try and get it from her on
        tick: who knows? perhaps the woman would feel for them and let them have
        it. The jeune premier went off, and half an hour later returned with a
        bottle of brandy and some castor-oil. Shtchiptsov was sitting
        motionless, as before, on the bed, gazing dumbly at the floor. He drank
        the castor-oil offered him by his friend like an automaton, with no
        consciousness of what he was doing. Like an automaton he sat afterwards
        at the table, and drank tea and brandy; mechanically he emptied the
        whole bottle and let the jeune premier put him to bed. The latter
        covered him up with a quilt and an overcoat, advised him to get into a
        perspiration, and went away.
      </p>

      <p>
        The night came on; Shtchiptsov had drunk a great deal of brandy, but he
        did not sleep. He lay motionless under the quilt and stared at the dark
        ceiling; then, seeing the moon looking in at the window, he turned his
        eyes from the ceiling towards the companion of the earth, and lay so
        with open eyes till the morning. At nine o&rsquo;clock in the morning
        Zhukov, the manager, ran in.
      </p>

      <p>
        &ldquo;What has put it into your head to be ill, my angel?&rdquo; he
        cackled, wrinkling up his nose. &ldquo;Aie, aie! A man with your
        physique has no business to be ill! For shame, for shame! Do you know, I
        was quite frightened. &lsquo;Can our conversation have had such an
        effect on him?&rsquo; I wondered. My dear soul, I hope it&rsquo;s not
        through me you&rsquo;ve fallen ill! You know you gave me as good . . .
        er . . . And, besides, comrades can never get on without words. You
        called me all sorts of names . . . and have gone at me with your fists
        too, and yet I am fond of you! Upon my soul, I am. I respect you and am
        fond of you! Explain, my angel, why I am so fond of you. You are neither
        kith nor kin nor wife, but as soon as I heard you had fallen ill it cut
        me to the heart.&rdquo;
      </p>

      <p>
        Zhukov spent a long time declaring his affection, then fell to kissing
        the invalid, and finally was so overcome by his feelings that he began
        laughing hysterically, and was even meaning to fall into a swoon, but,
        probably remembering that he was not at home nor at the theatre, put off
        the swoon to a more convenient opportunity and went away.
      </p>

      <p>
        Soon after him Adabashev, the tragic actor, a dingy, short-sighted
        individual who talked through his nose, made his appearance. . . . For a
        long while he looked at Shtchiptsov, for a long while he pondered, and
        at last he made a discovery.
      </p>

      <p>
        &ldquo;Do you know what, Mifa?&rdquo; he said, pronouncing through his
        nose &ldquo;f&rdquo; instead of &ldquo;sh,&rdquo; and assuming a
        mysterious expression. &ldquo;Do you know what? You ought to have a dose
        of castor-oil!&rdquo;
      </p>

      <p>
        Shtchiptsov was silent. He remained silent, too, a little later as the
        tragic actor poured the loathsome oil into his mouth. Two hours later
        Yevlampy, or, as the actors for some reason called him, Rigoletto, the
        hairdresser of the company, came into the room. He too, like the tragic
        man, stared at Shtchiptsov for a long time, then sighed like a steam-
        engine, and slowly and deliberately began untying a parcel he had
        brought with him. In it there were twenty cups and several little
        flasks.
      </p>

      <p>
        &ldquo;You should have sent for me and I would have cupped you long
        ago,&rdquo; he said, tenderly baring Shtchiptsov&rsquo;s chest.
        &ldquo;It is easy to neglect illness.&rdquo;
      </p>

      <p>
        Thereupon Rigoletto stroked the broad chest of the &ldquo;heavy
        father&rdquo; and covered it all over with suction cups.
      </p>

      <p>
        &ldquo;Yes . . .&rdquo; he said, as after this operation he packed up
        his paraphernalia, crimson with Shtchiptsov&rsquo;s blood. &ldquo;You
        should have sent for me, and I would have come. . . . You needn&rsquo;t
        trouble about payment. . . . I do it from sympathy. Where are you to get
        the money if that idol won&rsquo;t pay you? Now, please take these
        drops. They are nice drops! And now you must have a dose of this
        castor-oil. It&rsquo;s the real thing. That&rsquo;s right! I hope it
        will do you good. Well, now, good-bye. . . .&rdquo;
      </p>

      <p>
        Rigoletto took his parcel and withdrew, pleased that he had been of
        assistance to a fellow-creature.
      </p>

      <p>
        The next morning Sigaev, the comic man, going in to see Shtchiptsov,
        found him in a terrible condition. He was lying under his coat,
        breathing in gasps, while his eyes strayed over the ceiling. In his
        hands he was crushing convulsively the crumpled quilt.
      </p>

      <p>
        &ldquo;To Vyazma!&rdquo; he whispered, when he saw the comic man.
        &ldquo;To Vyazma.&rdquo;
      </p>

      <p>
        &ldquo;Come, I don&rsquo;t like that, old man!&rdquo; said the comic
        man, flinging up his hands. &ldquo;You see . . . you see . . . you see,
        old man, that&rsquo;s not the thing! Excuse me, but . . . it&rsquo;s
        positively stupid. . . .&rdquo;
      </p>

      <p>&ldquo;To go to Vyazma! My God, to Vyazma!&rdquo;</p>

      <p>
        &ldquo;I . . . I did not expect it of you,&rdquo; the comic man
        muttered, utterly distracted. &ldquo;What the deuce do you want to
        collapse like this for? Aie . . . aie . . . aie! . . . that&rsquo;s not
        the thing. A giant as tall as a watch-tower, and crying. Is it the thing
        for actors to cry?&rdquo;
      </p>

      <p>
        &ldquo;No wife nor children,&rdquo; muttered Shtchiptsov. &ldquo;I ought
        not to have gone for an actor, but have stayed at Vyazma. My life has
        been wasted, Semyon! Oh, to be in Vyazma!&rdquo;
      </p>

      <p>
        &ldquo;Aie . . . aie . . . aie! . . . that&rsquo;s not the thing! You
        see, it&rsquo;s stupid . . . contemptible indeed!&rdquo;
      </p>

      <p>
        Recovering his composure and setting his feelings in order, Sigaev began
        comforting Shtchiptsov, telling him untruly that his comrades had
        decided to send him to the Crimea at their expense, and so on, but the
        sick man did not listen and kept muttering about Vyazma . . . . At last,
        with a wave of his hand, the comic man began talking about Vyazma
        himself to comfort the invalid.
      </p>

      <p>
        &ldquo;It&rsquo;s a fine town,&rdquo; he said soothingly, &ldquo;a
        capital town, old man! It&rsquo;s famous for its cakes. The cakes are
        classical, but&mdash;between ourselves&mdash;h&rsquo;m!&mdash;they are a
        bit groggy. For a whole week after eating them I was . . . h&rsquo;m! .
        . . But what is fine there is the merchants! They are something like
        merchants. When they treat you they do treat you!&rdquo;
      </p>

      <p>
        The comic man talked while Shtchiptsov listened in silence and nodded
        his head approvingly.
      </p>

      <p>Towards evening he died.</p>
    </div>
  </body>
</html>
