<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>THE EXAMINING MAGISTRATE</p>

      <p>
        A DISTRICT doctor and an examining magistrate were driving one fine
        spring day to an inquest. The examining magistrate, a man of five and
        thirty, looked dreamily at the horses and said:
      </p>

      <p>
        &ldquo;There is a great deal that is enigmatic and obscure in nature;
        and even in everyday life, doctor, one must often come upon phenomena
        which are absolutely incapable of explanation. I know, for instance, of
        several strange, mysterious deaths, the cause of which only
        spiritualists and mystics will undertake to explain; a clear-headed man
        can only lift up his hands in perplexity. For example, I know of a
        highly cultured lady who foretold her own death and died without any
        apparent reason on the very day she had predicted. She said that she
        would die on a certain day, and she did die.&rdquo;
      </p>

      <p>
        &ldquo;There&rsquo;s no effect without a cause,&rdquo; said the doctor.
        &ldquo;If there&rsquo;s a death there must be a cause for it. But as for
        predicting it there&rsquo;s nothing very marvellous in that. All our
        ladies&mdash;all our females, in fact&mdash;have a turn for prophecies
        and presentiments.&rdquo;
      </p>

      <p>
        &ldquo;Just so, but my lady, doctor, was quite a special case. There was
        nothing like the ladies&rsquo; or other females&rsquo; presentiments
        about her prediction and her death. She was a young woman, healthy and
        clever, with no superstitions of any sort. She had such clear,
        intelligent, honest eyes; an open, sensible face with a faint, typically
        Russian look of mockery in her eyes and on her lips. There was nothing
        of the fine lady or of the female about her, except&mdash;if you
        like&mdash; her beauty! She was graceful, elegant as that birch tree;
        she had wonderful hair. That she may be intelligible to you, I will add,
        too, that she was a person of the most infectious gaiety and
        carelessness and that intelligent, good sort of frivolity which is only
        found in good-natured, light-hearted people with brains. Can one talk of
        mysticism, spiritualism, a turn for presentiment, or anything of that
        sort, in this case? She used to laugh at all that.&rdquo;
      </p>

      <p>
        The doctor&rsquo;s chaise stopped by a well. The examining magistrate
        and the doctor drank some water, stretched, and waited for the coachman
        to finish watering the horses.
      </p>

      <p>
        &ldquo;Well, what did the lady die of?&rdquo; asked the doctor when the
        chaise was rolling along the road again.
      </p>

      <p>
        &ldquo;She died in a strange way. One fine day her husband went in to
        her and said that it wouldn&rsquo;t be amiss to sell their old coach
        before the spring and to buy something rather newer and lighter instead,
        and that it might be as well to change the left trace horse and to put
        Bobtchinsky (that was the name of one of her husband&rsquo;s horses) in
        the shafts.
      </p>

      <p>&ldquo;His wife listened to him and said:</p>

      <p>
        &ldquo;&lsquo;Do as you think best, but it makes no difference to me
        now. Before the summer I shall be in the cemetery.&rsquo;
      </p>

      <p>&ldquo;Her husband, of course, shrugged his shoulders and smiled.</p>

      <p>
        &ldquo;&lsquo;I am not joking,&rsquo; she said. &lsquo;I tell you in
        earnest that I shall soon be dead.&rsquo;
      </p>

      <p>&ldquo;&lsquo;What do you mean by soon?&rsquo;</p>

      <p>
        &ldquo;&lsquo;Directly after my confinement. I shall bear my child and
        die.&rsquo;
      </p>

      <p>
        &ldquo;The husband attached no significance to these words. He did not
        believe in presentiments of any sort, and he knew that ladies in an
        interesting condition are apt to be fanciful and to give way to gloomy
        ideas generally. A day later his wife spoke to him again of dying
        immediately after her confinement, and then every day she spoke of it
        and he laughed and called her a silly woman, a fortune-teller, a crazy
        creature. Her approaching death became an id&Atilde;&copy;e
        fix&Atilde;&copy; with his wife. When her husband would not listen to
        her she would go into the kitchen and talk of her death to the nurse and
        the cook.
      </p>

      <p>
        &ldquo;&lsquo;I haven&rsquo;t long to live now, nurse,&rsquo; she would
        say. &lsquo;As soon as my confinement is over I shall die. I did not
        want to die so early, but it seems it&rsquo;s my fate.&rsquo;
      </p>

      <p>
        &ldquo;The nurse and the cook were in tears, of course. Sometimes the
        priest&rsquo;s wife or some lady from a neighbouring estate would come
        and see her and she would take them aside and open her soul to them,
        always harping on the same subject, her approaching death. She spoke
        gravely with an unpleasant smile, even with an angry face which would
        not allow any contradiction. She had been smart and fashionable in her
        dress, but now in view of her approaching death she became slovenly; she
        did not read, she did not laugh, she did not dream aloud. What was more
        she drove with her aunt to the cemetery and selected a spot for her
        tomb. Five days before her confinement she made her will. And all this,
        bear in mind, was done in the best of health, without the faintest hint
        of illness or danger. A confinement is a difficult affair and sometimes
        fatal, but in the case of which I am telling you every indication was
        favourable, and there was absolutely nothing to be afraid of. Her
        husband was sick of the whole business at last. He lost his temper one
        day at dinner and asked her:
      </p>

      <p>
        &ldquo;&lsquo;Listen, Natasha, when is there going to be an end of this
        silliness?&rsquo;
      </p>

      <p>&ldquo;&lsquo;It&rsquo;s not silliness, I am in earnest.&rsquo;</p>

      <p>
        &ldquo;&lsquo;Nonsense, I advise you to give over being silly that you
        may not feel ashamed of it afterwards.&rsquo;
      </p>

      <p>
        &ldquo;Well, the confinement came. The husband got the very best midwife
        from the town. It was his wife&rsquo;s first confinement, but it could
        not have gone better. When it was all over she asked to look at her
        baby. She looked at it and said:
      </p>

      <p>&ldquo;&lsquo;Well, now I can die.&rsquo;</p>

      <p>
        &ldquo;She said good-bye, shut her eyes, and half an hour later gave up
        her soul to God. She was fully conscious up to the last moment. Anyway
        when they gave her milk instead of water she whispered softly:
      </p>

      <p>&ldquo;&lsquo;Why are you giving me milk instead of water?&rsquo;</p>

      <p>&ldquo;So that is what happened. She died as she predicted.&rdquo;</p>

      <p>The examining magistrate paused, gave a sigh and said:</p>

      <p>
        &ldquo;Come, explain why she died. I assure you on my honour, this is
        not invented, it&rsquo;s a fact.&rdquo;
      </p>

      <p>The doctor looked at the sky meditatively.</p>

      <p>&ldquo;You ought to have had an inquest on her,&rdquo; he said.</p>

      <p>&ldquo;Why?&rdquo;</p>

      <p>
        &ldquo;Why, to find out the cause of her death. She didn&rsquo;t die
        because she had predicted it. She poisoned herself most probably.&rdquo;
      </p>

      <p>
        The examining magistrate turned quickly, facing the doctor, and screwing
        up his eyes, asked:
      </p>

      <p>
        &ldquo;And from what do you conclude that she poisoned herself?&rdquo;
      </p>

      <p>
        &ldquo;I don&rsquo;t conclude it, but I assume it. Was she on good terms
        with her husband?&rdquo;
      </p>

      <p>
        &ldquo;H&rsquo;m, not altogether. There had been misunderstandings soon
        after their marriage. There were unfortunate circumstances. She had
        found her husband on one occasion with a lady. She soon forgave him
        however.&rdquo;
      </p>

      <p>
        &ldquo;And which came first, her husband&rsquo;s infidelity or her idea
        of dying?&rdquo;
      </p>

      <p>
        The examining magistrate looked attentively at the doctor as though he
        were trying to imagine why he put that question.
      </p>

      <p>
        &ldquo;Excuse me,&rdquo; he said, not quite immediately. &ldquo;Let me
        try and remember.&rdquo; The examining magistrate took off his hat and
        rubbed his forehead. &ldquo;Yes, yes . . . it was very shortly after
        that incident that she began talking of death. Yes, yes.&rdquo;
      </p>

      <p>
        &ldquo;Well, there, do you see? . . . In all probability it was at that
        time that she made up her mind to poison herself, but, as most likely
        she did not want to kill her child also, she put it off till after her
        confinement.&rdquo;
      </p>

      <p>
        &ldquo;Not likely, not likely! . . . it&rsquo;s impossible. She forgave
        him at the time.&rdquo;
      </p>

      <p>
        &ldquo;That she forgave it quickly means that she had something bad in
        her mind. Young wives do not forgive quickly.&rdquo;
      </p>

      <p>
        The examining magistrate gave a forced smile, and, to conceal his too
        noticeable agitation, began lighting a cigarette.
      </p>

      <p>
        &ldquo;Not likely, not likely,&rdquo; he went on. &ldquo;No notion of
        anything of the sort being possible ever entered into my head. . . . And
        besides . . . he was not so much to blame as it seems. . . . He was
        unfaithful to her in rather a queer way, with no desire to be; he came
        home at night somewhat elevated, wanted to make love to somebody, his
        wife was in an interesting condition . . . then he came across a lady
        who had come to stay for three days&mdash;damnation take her&mdash; an
        empty-headed creature, silly and not good-looking. It couldn&rsquo;t be
        reckoned as an infidelity. His wife looked at it in that way herself and
        soon . . . forgave it. Nothing more was said about it. . . .&rdquo;
      </p>

      <p>
        &ldquo;People don&rsquo;t die without a reason,&rdquo; said the doctor.
      </p>

      <p>
        &ldquo;That is so, of course, but all the same . . . I cannot admit that
        she poisoned herself. But it is strange that the idea has never struck
        me before! And no one thought of it! Everyone was astonished that her
        prediction had come to pass, and the idea . . . of such a death was far
        from their mind. And indeed, it cannot be that she poisoned herself!
        No!&rdquo;
      </p>

      <p>
        The examining magistrate pondered. The thought of the woman who had died
        so strangely haunted him all through the inquest. As he noted down what
        the doctor dictated to him he moved his eyebrows gloomily and rubbed his
        forehead.
      </p>

      <p>
        &ldquo;And are there really poisons that kill one in a quarter of an
        hour, gradually, without any pain?&rdquo; he asked the doctor while the
        latter was opening the skull.
      </p>

      <p>&ldquo;Yes, there are. Morphia for instance.&rdquo;</p>

      <p>
        &ldquo;H&rsquo;m, strange. I remember she used to keep something of the
        sort . . . . But it could hardly be.&rdquo;
      </p>

      <p>
        On the way back the examining magistrate looked exhausted, he kept
        nervously biting his moustache, and was unwilling to talk.
      </p>

      <p>
        &ldquo;Let us go a little way on foot,&rdquo; he said to the doctor.
        &ldquo;I am tired of sitting.&rdquo;
      </p>

      <p>
        After walking about a hundred paces, the examining magistrate seemed to
        the doctor to be overcome with fatigue, as though he had been climbing
        up a high mountain. He stopped and, looking at the doctor with a strange
        look in his eyes, as though he were drunk, said:
      </p>

      <p>
        &ldquo;My God, if your theory is correct, why it&rsquo;s. . . it was
        cruel, inhuman! She poisoned herself to punish some one else! Why, was
        the sin so great? Oh, my God! And why did you make me a present of this
        damnable idea, doctor!&rdquo;
      </p>

      <p>
        The examining magistrate clutched at his head in despair, and went on:
      </p>

      <p>
        &ldquo;What I have told you was about my own wife, about myself. Oh, my
        God! I was to blame, I wounded her, but can it have been easier to die
        than to forgive? That&rsquo;s typical feminine logic&mdash;cruel,
        merciless logic. Oh, even then when she was living she was cruel! I
        recall it all now! It&rsquo;s all clear to me now!&rdquo;
      </p>

      <p>
        As the examining magistrate talked he shrugged his shoulders, then
        clutched at his head. He got back into the carriage, then walked again.
        The new idea the doctor had imparted to him seemed to have overwhelmed
        him, to have poisoned him; he was distracted, shattered in body and
        soul, and when he got back to the town he said good-bye to the doctor,
        declining to stay to dinner though he had promised the doctor the
        evening before to dine with him.
      </p>
    </div>
  </body>
</html>
