<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>DRUNK</p>

      <p>
        A MANUFACTURER called Frolov, a handsome dark man with a round beard,
        and a soft, velvety expression in his eyes, and Almer, his lawyer, an
        elderly man with a big rough head, were drinking in one of the public
        rooms of a restaurant on the outskirts of the town. They had both come
        to the restaurant straight from a ball and so were wearing dress coats
        and white ties. Except them and the waiters at the door there was not a
        soul in the room; by Frolov&rsquo;s orders no one else was admitted.
      </p>

      <p>
        They began by drinking a big wine-glass of vodka and eating oysters.
      </p>

      <p>
        &ldquo;Good!&rdquo; said Almer. &ldquo;It was I brought oysters into
        fashion for the first course, my boy. The vodka burns and stings your
        throat and you have a voluptuous sensation in your throat when you
        swallow an oyster. Don&rsquo;t you?&rdquo;
      </p>

      <p>
        A dignified waiter with a shaven upper lip and grey whiskers put a
        sauceboat on the table.
      </p>

      <p>&ldquo;What&rsquo;s that you are serving?&rdquo; asked Frolov.</p>

      <p>
        &ldquo;Sauce Proven&Atilde;&sect;ale for the herring, sir. . . .&rdquo;
      </p>

      <p>
        &ldquo;What! is that the way to serve it?&rdquo; shouted Frolov, not
        looking into the sauceboat. &ldquo;Do you call that sauce? You
        don&rsquo;t know how to wait, you blockhead!&rdquo;
      </p>

      <p>
        Frolov&rsquo;s velvety eyes flashed. He twisted a corner of the
        table-cloth round his finger, made a slight movement, and the dishes,
        the candlesticks, and the bottles, all jingling and clattering, fell
        with a crash on the floor.
      </p>

      <p>
        The waiters, long accustomed to pot-house catastrophes, ran up to the
        table and began picking up the fragments with grave and unconcerned
        faces, like surgeons at an operation.
      </p>

      <p>
        &ldquo;How well you know how to manage them!&rdquo; said Almer, and he
        laughed. &ldquo;But . . . move a little away from the table or you will
        step in the caviare.&rdquo;
      </p>

      <p>&ldquo;Call the engineer here!&rdquo; cried Frolov.</p>

      <p>
        This was the name given to a decrepit, doleful old man who really had
        once been an engineer and very well off; he had squandered all his
        property and towards the end of his life had got into a restaurant where
        he looked after the waiters and singers and carried out various
        commissions relating to the fair sex. Appearing at the summons, he put
        his head on one side respectfully.
      </p>

      <p>
        &ldquo;Listen, my good man,&rdquo; Frolov said, addressing him.
        &ldquo;What&rsquo;s the meaning of this disorder? How queerly you
        fellows wait! Don&rsquo;t you know that I don&rsquo;t like it? Devil
        take you, I shall give up coming to you!&rdquo;
      </p>

      <p>
        &ldquo;I beg you graciously to excuse it, Alexey Semyonitch!&rdquo; said
        the engineer, laying his hand on his heart. &ldquo;I will take steps
        immediately, and your slightest wishes shall be carried out in the best
        and speediest way.&rdquo;
      </p>

      <p>&ldquo;Well, that&rsquo;ll do, you can go. . . .&rdquo;</p>

      <p>
        The engineer bowed, staggered back, still doubled up, and disappeared
        through the doorway with a final flash of the false diamonds on his
        shirt-front and fingers.
      </p>

      <p>
        The table was laid again. Almer drank red wine and ate with relish some
        sort of bird served with truffles, and ordered a matelote of eelpouts
        and a sterlet with its tail in its mouth. Frolov only drank vodka and
        ate nothing but bread. He rubbed his face with his open hands, scowled,
        and was evidently out of humour. Both were silent. There was a
        stillness. Two electric lights in opaque shades flickered and hissed as
        though they were angry. The gypsy girls passed the door, softly humming.
      </p>

      <p>
        &ldquo;One drinks and is none the merrier,&rdquo; said Frolov.
        &ldquo;The more I pour into myself, the more sober I become. Other
        people grow festive with vodka, but I suffer from anger, disgusting
        thoughts, sleeplessness. Why is it, old man, that people don&rsquo;t
        invent some other pleasure besides drunkenness and debauchery?
        It&rsquo;s really horrible!&rdquo;
      </p>

      <p>&ldquo;You had better send for the gypsy girls.&rdquo;</p>

      <p>&ldquo;Confound them!&rdquo;</p>

      <p>
        The head of an old gypsy woman appeared in the door from the passage.
      </p>

      <p>
        &ldquo;Alexey Semyonitch, the gypsies are asking for tea and
        brandy,&rdquo; said the old woman. &ldquo;May we order it?&rdquo;
      </p>

      <p>
        &ldquo;Yes,&rdquo; answered Frolov. &ldquo;You know they get a
        percentage from the restaurant keeper for asking the visitors to treat
        them. Nowadays you can&rsquo;t even believe a man when he asks for
        vodka. The people are all mean, vile, spoilt. Take these waiters, for
        instance. They have countenances like professors, and grey heads; they
        get two hundred roubles a month, they live in houses of their own and
        send their girls to the high school, but you may swear at them and give
        yourself airs as much as you please. For a rouble the engineer will gulp
        down a whole pot of mustard and crow like a cock. On my honour, if one
        of them would take offence I would make him a present of a thousand
        roubles.&rdquo;
      </p>

      <p>
        &ldquo;What&rsquo;s the matter with you?&rdquo; said Almer, looking at
        him with surprise. &ldquo;Whence this melancholy? You are red in the
        face, you look like a wild animal. . . . What&rsquo;s the matter with
        you?&rdquo;
      </p>

      <p>
        &ldquo;It&rsquo;s horrid. There&rsquo;s one thing I can&rsquo;t get out
        of my head. It seems as though it is nailed there and it won&rsquo;t
        come out.&rdquo;
      </p>

      <p>
        A round little old man, buried in fat and completely bald, wearing a
        short reefer jacket and lilac waistcoat and carrying a guitar, walked
        into the room. He made an idiotic face, drew himself up, and saluted
        like a soldier.
      </p>

      <p>
        &ldquo;Ah, the parasite!&rdquo; said Frolov, &ldquo;let me introduce
        him, he has made his fortune by grunting like a pig. Come here!&rdquo;
        He poured vodka, wine, and brandy into a glass, sprinkled pepper and
        salt into it, mixed it all up and gave it to the parasite. The latter
        tossed it off and smacked his lips with gusto.
      </p>

      <p>
        &ldquo;He&rsquo;s accustomed to drink a mess so that pure wine makes him
        sick,&rdquo; said Frolov. &ldquo;Come, parasite, sit down and
        sing.&rdquo;
      </p>

      <p>
        The old man sat down, touched the strings with his fat fingers, and
        began singing:
      </p>

      <p>&ldquo;Neetka, neetka, Margareetka. . . .&rdquo;</p>

      <p>
        After drinking champagne Frolov was drunk. He thumped with his fist on
        the table and said:
      </p>

      <p>
        &ldquo;Yes, there&rsquo;s something that sticks in my head! It
        won&rsquo;t give me a minute&rsquo;s peace!&rdquo;
      </p>

      <p>&ldquo;Why, what is it?&rdquo;</p>

      <p>
        &ldquo;I can&rsquo;t tell you. It&rsquo;s a secret. It&rsquo;s something
        so private that I could only speak of it in my prayers. But if you like
        . . . as a sign of friendship, between ourselves . . . only mind, to no
        one, no, no, no, . . . I&rsquo;ll tell you, it will ease my heart, but
        for God&rsquo;s sake . . . listen and forget it. . . .&rdquo;
      </p>

      <p>Frolov bent down to Almer and for a minute breathed in his ear.</p>

      <p>&ldquo;I hate my wife!&rdquo; he brought out.</p>

      <p>The lawyer looked at him with surprise.</p>

      <p>
        &ldquo;Yes, yes, my wife, Marya Mihalovna,&rdquo; Frolov muttered,
        flushing red. &ldquo;I hate her and that&rsquo;s all about it.&rdquo;
      </p>

      <p>&ldquo;What for?&rdquo;</p>

      <p>
        &ldquo;I don&rsquo;t know myself! I&rsquo;ve only been married two
        years. I married as you know for love, and now I hate her like a mortal
        enemy, like this parasite here, saving your presence. And there is no
        cause, no sort of cause! When she sits by me, eats, or says anything, my
        whole soul boils, I can scarcely restrain myself from being rude to her.
        It&rsquo;s something one can&rsquo;t describe. To leave her or tell her
        the truth is utterly impossible because it would be a scandal, and
        living with her is worse than hell for me. I can&rsquo;t stay at home! I
        spend my days at business and in the restaurants and spend my nights in
        dissipation. Come, how is one to explain this hatred? She is not an
        ordinary woman, but handsome, clever, quiet.&rdquo;
      </p>

      <p>The old man stamped his foot and began singing:</p>

      <p>
        &ldquo;I went a walk with a captain bold, And in his ear my secrets
        told.&rdquo;
      </p>

      <p>
        &ldquo;I must own I always thought that Marya Mihalovna was not at all
        the right person for you,&rdquo; said Almer after a brief silence, and
        he heaved a sigh.
      </p>

      <p>
        &ldquo;Do you mean she is too well educated? . . . I took the gold medal
        at the commercial school myself, I have been to Paris three times. I am
        not cleverer than you, of course, but I am no more foolish than my wife.
        No, brother, education is not the sore point. Let me tell you how all
        the trouble began. It began with my suddenly fancying that she had
        married me not from love, but for the sake of my money. This idea took
        possession of my brain. I have done all I could think of, but the cursed
        thing sticks! And to make it worse my wife was overtaken with a passion
        for luxury. Getting into a sack of gold after poverty, she took to
        flinging it in all directions. She went quite off her head, and was so
        carried away that she used to get through twenty thousand every month.
        And I am a distrustful man. I don&rsquo;t believe in anyone, I suspect
        everybody. And the more friendly you are to me the greater my torment. I
        keep fancying I am being flattered for my money. I trust no one! I am a
        difficult man, my boy, very difficult!&rdquo;
      </p>

      <p>Frolov emptied his glass at one gulp and went on.</p>

      <p>
        &ldquo;But that&rsquo;s all nonsense,&rdquo; he said. &ldquo;One never
        ought to speak of it. It&rsquo;s stupid. I am tipsy and I have been
        chattering, and now you are looking at me with lawyer&rsquo;s
        eyes&mdash;glad you know some one else&rsquo;s secret. Well, well! . . .
        Let us drop this conversation. Let us drink! I say,&rdquo; he said,
        addressing a waiter, &ldquo;is Mustafa here? Fetch him in!&rdquo;
      </p>

      <p>
        Shortly afterwards there walked into the room a little Tatar boy, aged
        about twelve, wearing a dress coat and white gloves.
      </p>

      <p>
        &ldquo;Come here!&rdquo; Frolov said to him. &ldquo;Explain to us the
        following fact: there was a time when you Tatars conquered us and took
        tribute from us, but now you serve us as waiters and sell
        dressing-gowns. How do you explain such a change?&rdquo;
      </p>

      <p>
        Mustafa raised his eyebrows and said in a shrill voice, with a sing-song
        intonation: &ldquo;The mutability of destiny!&rdquo;
      </p>

      <p>Almer looked at his grave face and went off into peals of laughter.</p>

      <p>
        &ldquo;Well, give him a rouble!&rdquo; said Frolov. &ldquo;He is making
        his fortune out of the mutability of destiny. He is only kept here for
        the sake of those two words. Drink, Mustafa! You will make a gre-eat
        rascal! I mean it is awful how many of your sort are toadies hanging
        about rich men. The number of these peaceful bandits and robbers is
        beyond all reckoning! Shouldn&rsquo;t we send for the gypsies now? Eh?
        Fetch the gypsies along!&rdquo;
      </p>

      <p>
        The gypsies, who had been hanging about wearily in the corridors for a
        long time, burst with whoops into the room, and a wild orgy began.
      </p>

      <p>
        &ldquo;Drink!&rdquo; Frolov shouted to them. &ldquo;Drink! Seed of
        Pharaoh! Sing! A-a-ah!&rdquo;
      </p>

      <p>
        &ldquo;In the winter time . . . o-o-ho! . . . the sledge was flying . .
        .&rdquo;
      </p>

      <p>
        The gypsies sang, whistled, danced. In the frenzy which sometimes takes
        possession of spoilt and very wealthy men, &ldquo;broad natures,&rdquo;
        Frolov began to play the fool. He ordered supper and champagne for the
        gypsies, broke the shade of the electric light, shied bottles at the
        pictures and looking-glasses, and did it all apparently without the
        slightest enjoyment, scowling and shouting irritably, with contempt for
        the people, with an expression of hatred in his eyes and his manners. He
        made the engineer sing a solo, made the bass singers drink a mixture of
        wine, vodka, and oil.
      </p>

      <p>At six o&rsquo;clock they handed him the bill.</p>

      <p>
        &ldquo;Nine hundred and twenty-five roubles, forty kopecks,&rdquo; said
        Almer, and shrugged his shoulders. &ldquo;What&rsquo;s it for? No, wait,
        we must go into it!&rdquo;
      </p>

      <p>
        &ldquo;Stop!&rdquo; muttered Frolov, pulling out his pocket-book.
        &ldquo;Well! . . . let them rob me. That&rsquo;s what I&rsquo;m rich
        for, to be robbed! . . . You can&rsquo;t get on without parasites! . . .
        You are my lawyer. You get six thousand a year out of me and what for?
        But excuse me, . . . I don&rsquo;t know what I am saying.&rdquo;
      </p>

      <p>As he was returning home with Almer, Frolov murmured:</p>

      <p>
        &ldquo;Going home is awful to me! Yes! . . . There isn&rsquo;t a human
        being I can open my soul to. . . . They are all robbers . . . traitors .
        . . . Oh, why did I tell you my secret? Yes . . . why? Tell me
        why?&rdquo;
      </p>

      <p>
        At the entrance to his house, he craned forward towards Almer and,
        staggering, kissed him on the lips, having the old Moscow habit of
        kissing indiscriminately on every occasion.
      </p>

      <p>
        &ldquo;Good-bye . . . I am a difficult, hateful man,&rdquo; he said.
        &ldquo;A horrid, drunken, shameless life. You are a well-educated,
        clever man, but you only laugh and drink with me . . . there&rsquo;s no
        help from any of you. . . . But if you were a friend to me, if you were
        an honest man, in reality you ought to have said to me: &lsquo;Ugh, you
        vile, hateful man! You reptile!&rsquo;&rdquo;
      </p>

      <p>&ldquo;Come, come,&rdquo; Almer muttered, &ldquo;go to bed.&rdquo;</p>

      <p>
        &ldquo;There is no help from you; the only hope is that, when I am in
        the country in the summer, I may go out into the fields and a storm come
        on and the thunder may strike me dead on the spot. . . .
        Good-bye.&rdquo;
      </p>

      <p>
        Frolov kissed Almer once more and muttering and dropping asleep as he
        walked, began mounting the stairs, supported by two footmen.
      </p>
    </div>
  </body>
</html>
