<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>A BAD BUSINESS &ldquo;WHO goes there?&rdquo;</p>

      <p>
        No answer. The watchman sees nothing, but through the roar of the wind
        and the trees distinctly hears someone walking along the avenue ahead of
        him. A March night, cloudy and foggy, envelopes the earth, and it seems
        to the watchman that the earth, the sky, and he himself with his
        thoughts are all merged together into something vast and impenetrably
        black. He can only grope his way.
      </p>

      <p>
        &ldquo;Who goes there?&rdquo; the watchman repeats, and he begins to
        fancy that he hears whispering and smothered laughter.
        &ldquo;Who&rsquo;s there?&rdquo;
      </p>

      <p>
        &ldquo;It&rsquo;s I, friend . . .&rdquo; answers an old man&rsquo;s
        voice.
      </p>

      <p>&ldquo;But who are you?&rdquo;</p>

      <p>&ldquo;I . . . a traveller.&rdquo;</p>

      <p>
        &ldquo;What sort of traveller?&rdquo; the watchman cries angrily, trying
        to disguise his terror by shouting. &ldquo;What the devil do you want
        here? You go prowling about the graveyard at night, you ruffian!&rdquo;
      </p>

      <p>&ldquo;You don&rsquo;t say it&rsquo;s a graveyard here?&rdquo;</p>

      <p>
        &ldquo;Why, what else? Of course it&rsquo;s the graveyard! Don&rsquo;t
        you see it is?&rdquo;
      </p>

      <p>
        &ldquo;O-o-oh . . . Queen of Heaven!&rdquo; there is a sound of an old
        man sighing. &ldquo;I see nothing, my good soul, nothing. Oh the
        darkness, the darkness! You can&rsquo;t see your hand before your face,
        it is dark, friend. O-o-oh. . .&rdquo;
      </p>

      <p>&ldquo;But who are you?&rdquo;</p>

      <p>&ldquo;I am a pilgrim, friend, a wandering man.&rdquo;</p>

      <p>
        &ldquo;The devils, the nightbirds. . . . Nice sort of pilgrims! They are
        drunkards . . .&rdquo; mutters the watchman, reassured by the tone and
        sighs of the stranger. &ldquo;One&rsquo;s tempted to sin by you. They
        drink the day away and prowl about at night. But I fancy I heard you
        were not alone; it sounded like two or three of you.&rdquo;
      </p>

      <p>
        &ldquo;I am alone, friend, alone. Quite alone. O-o-oh our sins. . .
        .&rdquo;
      </p>

      <p>The watchman stumbles up against the man and stops.</p>

      <p>&ldquo;How did you get here?&rdquo; he asks.</p>

      <p>
        &ldquo;I have lost my way, good man. I was walking to the Mitrievsky
        Mill and I lost my way.&rdquo;
      </p>

      <p>
        &ldquo;Whew! Is this the road to Mitrievsky Mill? You sheepshead! For
        the Mitrievsky Mill you must keep much more to the left, straight out of
        the town along the high road. You have been drinking and have gone a
        couple of miles out of your way. You must have had a drop in the
        town.&rdquo;
      </p>

      <p>
        &ldquo;I did, friend . . . Truly I did; I won&rsquo;t hide my sins. But
        how am I to go now?&rdquo;
      </p>

      <p>
        &ldquo;Go straight on and on along this avenue till you can go no
        farther, and then turn at once to the left and go till you have crossed
        the whole graveyard right to the gate. There will be a gate there. . . .
        Open it and go with God&rsquo;s blessing. Mind you don&rsquo;t fall into
        the ditch. And when you are out of the graveyard you go all the way by
        the fields till you come out on the main road.&rdquo;
      </p>

      <p>
        &ldquo;God give you health, friend. May the Queen of Heaven save you and
        have mercy on you. You might take me along, good man! Be merciful! Lead
        me to the gate.&rdquo;
      </p>

      <p>&ldquo;As though I had the time to waste! Go by yourself!&rdquo;</p>

      <p>
        &ldquo;Be merciful! I&rsquo;ll pray for you. I can&rsquo;t see anything;
        one can&rsquo;t see one&rsquo;s hand before one&rsquo;s face, friend. .
        . . It&rsquo;s so dark, so dark! Show me the way, sir!&rdquo;
      </p>

      <p>
        &ldquo;As though I had the time to take you about; if I were to play the
        nurse to everyone I should never have done.&rdquo;
      </p>

      <p>
        &ldquo;For Christ&rsquo;s sake, take me! I can&rsquo;t see, and I am
        afraid to go alone through the graveyard. It&rsquo;s terrifying, friend,
        it&rsquo;s terrifying; I am afraid, good man.&rdquo;
      </p>

      <p>
        &ldquo;There&rsquo;s no getting rid of you,&rdquo; sighs the watchman.
        &ldquo;All right then, come along.&rdquo;
      </p>

      <p>
        The watchman and the traveller go on together. They walk shoulder to
        shoulder in silence. A damp, cutting wind blows straight into their
        faces and the unseen trees murmuring and rustling scatter big drops upon
        them. . . . The path is almost entirely covered with puddles.
      </p>

      <p>
        &ldquo;There is one thing passes my understanding,&rdquo; says the
        watchman after a prolonged silence&mdash;&ldquo;how you got here. The
        gate&rsquo;s locked. Did you climb over the wall? If you did climb over
        the wall, that&rsquo;s the last thing you would expect of an old
        man.&rdquo;
      </p>

      <p>
        &ldquo;I don&rsquo;t know, friend, I don&rsquo;t know. I can&rsquo;t say
        myself how I got here. It&rsquo;s a visitation. A chastisement of the
        Lord. Truly a visitation, the evil one confounded me. So you are a
        watchman here, friend?&rdquo;
      </p>

      <p>&ldquo;Yes.&rdquo;</p>

      <p>&ldquo;The only one for the whole graveyard?&rdquo;</p>

      <p>
        There is such a violent gust of wind that both stop for a minute.
        Waiting till the violence of the wind abates, the watchman answers:
      </p>

      <p>
        &ldquo;There are three of us, but one is lying ill in a fever and the
        other&rsquo;s asleep. He and I take turns about.&rdquo;
      </p>

      <p>
        &ldquo;Ah, to be sure, friend. What a wind! The dead must hear it! It
        howls like a wild beast! O-o-oh.&rdquo;
      </p>

      <p>&ldquo;And where do you come from?&rdquo;</p>

      <p>
        &ldquo;From a distance, friend. I am from Vologda, a long way off. I go
        from one holy place to another and pray for people. Save me and have
        mercy upon me, O Lord.&rdquo;
      </p>

      <p>
        The watchman stops for a minute to light his pipe. He stoops down behind
        the traveller&rsquo;s back and lights several matches. The gleam of the
        first match lights up for one instant a bit of the avenue on the right,
        a white tombstone with an angel, and a dark cross; the light of the
        second match, flaring up brightly and extinguished by the wind, flashes
        like lightning on the left side, and from the darkness nothing stands
        out but the angle of some sort of trellis; the third match throws light
        to right and to left, revealing the white tombstone, the dark cross, and
        the trellis round a child&rsquo;s grave.
      </p>

      <p>
        &ldquo;The departed sleep; the dear ones sleep!&rdquo; the stranger
        mutters, sighing loudly. &ldquo;They all sleep alike, rich and poor,
        wise and foolish, good and wicked. They are of the same value now. And
        they will sleep till the last trump. The Kingdom of Heaven and peace
        eternal be theirs.&rdquo;
      </p>

      <p>
        &ldquo;Here we are walking along now, but the time will come when we
        shall be lying here ourselves,&rdquo; says the watchman.
      </p>

      <p>
        &ldquo;To be sure, to be sure, we shall all. There is no man who will
        not die. O-o-oh. Our doings are wicked, our thoughts are deceitful!
        Sins, sins! My soul accursed, ever covetous, my belly greedy and
        lustful! I have angered the Lord and there is no salvation for me in
        this world and the next. I am deep in sins like a worm in the
        earth.&rdquo;
      </p>

      <p>&ldquo;Yes, and you have to die.&rdquo;</p>

      <p>&ldquo;You are right there.&rdquo;</p>

      <p>
        &ldquo;Death is easier for a pilgrim than for fellows like us,&rdquo;
        says the watchman.
      </p>

      <p>
        &ldquo;There are pilgrims of different sorts. There are the real ones
        who are God-fearing men and watch over their own souls, and there are
        such as stray about the graveyard at night and are a delight to the
        devils. . . Ye-es! There&rsquo;s one who is a pilgrim could give you a
        crack on the pate with an axe if he liked and knock the breath out of
        you.&rdquo;
      </p>

      <p>&ldquo;What are you talking like that for?&rdquo;</p>

      <p>
        &ldquo;Oh, nothing . . . Why, I fancy here&rsquo;s the gate. Yes, it is.
        Open it, good man.&rdquo;
      </p>

      <p>
        The watchman, feeling his way, opens the gate, leads the pilgrim out by
        the sleeve, and says:
      </p>

      <p>
        &ldquo;Here&rsquo;s the end of the graveyard. Now you must keep on
        through the open fields till you get to the main road. Only close here
        there will be the boundary ditch&mdash;don&rsquo;t fall in. . . . And
        when you come out on to the road, turn to the right, and keep on till
        you reach the mill. . . .&rdquo;
      </p>

      <p>
        &ldquo;O-o-oh!&rdquo; sighs the pilgrim after a pause, &ldquo;and now I
        am thinking that I have no cause to go to Mitrievsky Mill. . . . Why the
        devil should I go there? I had better stay a bit with you here, sir. . .
        .&rdquo;
      </p>

      <p>&ldquo;What do you want to stay with me for?&rdquo;</p>

      <p>&ldquo;Oh . . . it&rsquo;s merrier with you! . . . .&rdquo;</p>

      <p>
        &ldquo;So you&rsquo;ve found a merry companion, have you? You, pilgrim,
        are fond of a joke I see. . . .&rdquo;
      </p>

      <p>
        &ldquo;To be sure I am,&rdquo; says the stranger, with a hoarse chuckle.
        &ldquo;Ah, my dear good man, I bet you will remember the pilgrim many a
        long year!&rdquo;
      </p>

      <p>&ldquo;Why should I remember you?&rdquo;</p>

      <p>
        &ldquo;Why I&rsquo;ve got round you so smartly. . . . Am I a pilgrim? I
        am not a pilgrim at all.&rdquo;
      </p>

      <p>&ldquo;What are you then?&rdquo;</p>

      <p>
        &ldquo;A dead man. . . . I&rsquo;ve only just got out of my coffin. . .
        . Do you remember Gubaryev, the locksmith, who hanged himself in
        carnival week? Well, I am Gubaryev himself! . . .&rdquo;
      </p>

      <p>&ldquo;Tell us something else!&rdquo;</p>

      <p>
        The watchman does not believe him, but he feels all over such a cold,
        oppressive terror that he starts off and begins hurriedly feeling for
        the gate.
      </p>

      <p>
        &ldquo;Stop, where are you off to?&rdquo; says the stranger, clutching
        him by the arm. &ldquo;Aie, aie, aie . . . what a fellow you are! How
        can you leave me all alone?&rdquo;
      </p>

      <p>
        &ldquo;Let go!&rdquo; cries the watchman, trying to pull his arm away.
      </p>

      <p>
        &ldquo;Sto-op! I bid you stop and you stop. Don&rsquo;t struggle, you
        dirty dog! If you want to stay among the living, stop and hold your
        tongue till I tell you. It&rsquo;s only that I don&rsquo;t care to spill
        blood or you would have been a dead man long ago, you scurvy rascal. . .
        . Stop!&rdquo;
      </p>

      <p>
        The watchman&rsquo;s knees give way under him. In his terror he shuts
        his eyes, and trembling all over huddles close to the wall. He would
        like to call out, but he knows his cries would not reach any living
        thing. The stranger stands beside him and holds him by the arm. . . .
        Three minutes pass in silence.
      </p>

      <p>
        &ldquo;One&rsquo;s in a fever, another&rsquo;s asleep, and the third is
        seeing pilgrims on their way,&rdquo; mutters the stranger.
        &ldquo;Capital watchmen, they are worth their salary! Ye-es, brother,
        thieves have always been cleverer than watchmen! Stand still,
        don&rsquo;t stir. . . .&rdquo;
      </p>

      <p>
        Five minutes, ten minutes pass in silence. All at once the wind brings
        the sound of a whistle.
      </p>

      <p>
        &ldquo;Well, now you can go,&rdquo; says the stranger, releasing the
        watchman&rsquo;s arm. &ldquo;Go and thank God you are alive!&rdquo;
      </p>

      <p>
        The stranger gives a whistle too, runs away from the gate, and the
        watchman hears him leap over the ditch.
      </p>

      <p>
        With a foreboding of something very dreadful in his heart, the watchman,
        still trembling with terror, opens the gate irresolutely and runs back
        with his eyes shut.
      </p>

      <p>
        At the turning into the main avenue he hears hurried footsteps, and
        someone asks him, in a hissing voice: &ldquo;Is that you, Timofey? Where
        is Mitka?&rdquo;
      </p>

      <p>
        And after running the whole length of the main avenue he notices a
        little dim light in the darkness. The nearer he gets to the light the
        more frightened he is and the stronger his foreboding of evil.
      </p>

      <p>
        &ldquo;It looks as though the light were in the church,&rdquo; he
        thinks. &ldquo;And how can it have come there? Save me and have mercy on
        me, Queen of Heaven! And that it is.&rdquo;
      </p>

      <p>
        The watchman stands for a minute before the broken window and looks with
        horror towards the altar. . . . A little wax candle which the thieves
        had forgotten to put out flickers in the wind that bursts in at the
        window and throws dim red patches of light on the vestments flung about
        and a cupboard overturned on the floor, on numerous footprints near the
        high altar and the altar of offerings.
      </p>

      <p>
        A little time passes and the howling wind sends floating over the
        churchyard the hurried uneven clangs of the alarm-bell. . . .
      </p>
    </div>
  </body>
</html>
