<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>AT THE BARBER&rsquo;S</p>

      <p>
        MORNING. It is not yet seven o&rsquo;clock, but Makar Kuzmitch
        Blyostken&rsquo;s shop is already open. The barber himself, an unwashed,
        greasy, but foppishly dressed youth of three and twenty, is busy
        clearing up; there is really nothing to be cleared away, but he is
        perspiring with his exertions. In one place he polishes with a rag, in
        another he scrapes with his finger or catches a bug and brushes it off
        the wall.
      </p>

      <p>
        The barber&rsquo;s shop is small, narrow, and unclean. The log walls are
        hung with paper suggestive of a cabman&rsquo;s faded shirt. Between the
        two dingy, perspiring windows there is a thin, creaking, rickety door,
        above it, green from the damp, a bell which trembles and gives a sickly
        ring of itself without provocation. Glance into the looking-glass which
        hangs on one of the walls, and it distorts your countenance in all
        directions in the most merciless way! The shaving and haircutting is
        done before this looking-glass. On the little table, as greasy and
        unwashed as Makar Kuzmitch himself, there is everything: combs,
        scissors, razors, a ha&rsquo;porth of wax for the moustache, a
        ha&rsquo;porth of powder, a ha&rsquo;porth of much watered eau de
        Cologne, and indeed the whole barber&rsquo;s shop is not worth more than
        fifteen kopecks.
      </p>

      <p>
        There is a squeaking sound from the invalid bell and an elderly man in a
        tanned sheepskin and high felt over-boots walks into the shop. His head
        and neck are wrapped in a woman&rsquo;s shawl.
      </p>

      <p>
        This is Erast Ivanitch Yagodov, Makar Kuzmitch&rsquo;s godfather. At one
        time he served as a watchman in the Consistory, now he lives near the
        Red Pond and works as a locksmith.
      </p>

      <p>
        &ldquo;Makarushka, good-day, dear boy!&rdquo; he says to Makar Kuzmitch,
        who is absorbed in tidying up.
      </p>

      <p>
        They kiss each other. Yagodov drags his shawl off his head, crosses
        himself, and sits down.
      </p>

      <p>
        &ldquo;What a long way it is!&rdquo; he says, sighing and clearing his
        throat. &ldquo;It&rsquo;s no joke! From the Red Pond to the Kaluga
        gate.&rdquo;
      </p>

      <p>&ldquo;How are you?&rdquo;</p>

      <p>&ldquo;In a poor way, my boy. I&rsquo;ve had a fever.&rdquo;</p>

      <p>&ldquo;You don&rsquo;t say so! Fever!&rdquo;</p>

      <p>
        &ldquo;Yes, I have been in bed a month; I thought I should die. I had
        extreme unction. Now my hair&rsquo;s coming out. The doctor says I must
        be shaved. He says the hair will grow again strong. And so, I thought,
        I&rsquo;ll go to Makar. Better to a relation than to anyone else. He
        will do it better and he won&rsquo;t take anything for it. It&rsquo;s
        rather far, that&rsquo;s true, but what of it? It&rsquo;s a walk.&rdquo;
      </p>

      <p>&ldquo;I&rsquo;ll do it with pleasure. Please sit down.&rdquo;</p>

      <p>
        With a scrape of his foot Makar Kuzmitch indicates a chair. Yagodov sits
        down and looks at himself in the glass and is apparently pleased with
        his reflection: the looking-glass displays a face awry, with Kalmuck
        lips, a broad, blunt nose, and eyes in the forehead. Makar Kuzmitch puts
        round his client&rsquo;s shoulders a white sheet with yellow spots on
        it, and begins snipping with the scissors.
      </p>

      <p>&ldquo;I&rsquo;ll shave you clean to the skin!&rdquo; he says.</p>

      <p>
        &ldquo;To be sure. So that I may look like a Tartar, like a bomb. The
        hair will grow all the thicker.&rdquo;
      </p>

      <p>&ldquo;How&rsquo;s auntie?&rdquo;</p>

      <p>
        &ldquo;Pretty middling. The other day she went as midwife to the
        major&rsquo;s lady. They gave her a rouble.&rdquo;
      </p>

      <p>&ldquo;Oh, indeed, a rouble. Hold your ear.&rdquo;</p>

      <p>
        &ldquo;I am holding it. . . . Mind you don&rsquo;t cut me. Oy, you hurt!
        You are pulling my hair.&rdquo;
      </p>

      <p>
        &ldquo;That doesn&rsquo;t matter. We can&rsquo;t help that in our work.
        And how is Anna Erastovna?&rdquo;
      </p>

      <p>
        &ldquo;My daughter? She is all right, she&rsquo;s skipping about. Last
        week on the Wednesday we betrothed her to Sheikin. Why didn&rsquo;t you
        come?&rdquo;
      </p>

      <p>
        The scissors cease snipping. Makar Kuzmitch drops his hands and asks in
        a fright:
      </p>

      <p>&ldquo;Who is betrothed?&rdquo;</p>

      <p>&ldquo;Anna.&rdquo;</p>

      <p>&ldquo;How&rsquo;s that? To whom?&rdquo;</p>

      <p>
        &ldquo;To Sheikin. Prokofy Petrovitch. His aunt&rsquo;s a housekeeper in
        Zlatoustensky Lane. She is a nice woman. Naturally we are all delighted,
        thank God. The wedding will be in a week. Mind you come; we will have a
        good time.&rdquo;
      </p>

      <p>
        &ldquo;But how&rsquo;s this, Erast Ivanitch?&rdquo; says Makar Kuzmitch,
        pale, astonished, and shrugging his shoulders. &ldquo;It&rsquo;s . . .
        it&rsquo;s utterly impossible. Why, Anna Erastovna . . . why I . . .
        why, I cherished sentiments for her, I had intentions. How could it
        happen?&rdquo;
      </p>

      <p>
        &ldquo;Why, we just went and betrothed her. He&rsquo;s a good
        fellow.&rdquo;
      </p>

      <p>
        Cold drops of perspiration come on the face of Makar Kuzmitch. He puts
        the scissors down on the table and begins rubbing his nose with his
        fist.
      </p>

      <p>
        &ldquo;I had intentions,&rdquo; he says. &ldquo;It&rsquo;s impossible,
        Erast Ivanitch. I . . . I am in love with her and have made her the
        offer of my heart . . . . And auntie promised. I have always respected
        you as though you were my father. . . . I always cut your hair for
        nothing. . . . I have always obliged you, and when my papa died you took
        the sofa and ten roubles in cash and have never given them back. Do you
        remember?&rdquo;
      </p>

      <p>
        &ldquo;Remember! of course I do. Only, what sort of a match would you
        be, Makar? You are nothing of a match. You&rsquo;ve neither money nor
        position, your trade&rsquo;s a paltry one.&rdquo;
      </p>

      <p>&ldquo;And is Sheikin rich?&rdquo;</p>

      <p>
        &ldquo;Sheikin is a member of a union. He has a thousand and a half lent
        on mortgage. So my boy . . . . It&rsquo;s no good talking about it, the
        thing&rsquo;s done. There is no altering it, Makarushka. You must look
        out for another bride. . . . The world is not so small. Come, cut away.
        Why are you stopping?&rdquo;
      </p>

      <p>
        Makar Kuzmitch is silent and remains motionless, then he takes a
        handkerchief out of his pocket and begins to cry.
      </p>

      <p>
        &ldquo;Come, what is it?&rdquo; Erast Ivanitch comforts him. &ldquo;Give
        over. Fie, he is blubbering like a woman! You finish my head and then
        cry. Take up the scissors!&rdquo;
      </p>

      <p>
        Makar Kuzmitch takes up the scissors, stares vacantly at them for a
        minute, then drops them again on the table. His hands are shaking.
      </p>

      <p>
        &ldquo;I can&rsquo;t,&rdquo; he says. &ldquo;I can&rsquo;t do it just
        now. I haven&rsquo;t the strength! I am a miserable man! And she is
        miserable! We loved each other, we had given each other our promise and
        we have been separated by unkind people without any pity. Go away, Erast
        Ivanitch! I can&rsquo;t bear the sight of you.&rdquo;
      </p>

      <p>
        &ldquo;So I&rsquo;ll come to-morrow, Makarushka. You will finish me
        to-morrow.&rdquo;
      </p>

      <p>&ldquo;Right.&rdquo;</p>

      <p>
        &ldquo;You calm yourself and I will come to you early in the
        morning.&rdquo;
      </p>

      <p>
        Erast Ivanitch has half his head shaven to the skin and looks like a
        convict. It is awkward to be left with a head like that, but there is no
        help for it. He wraps his head in the shawl and walks out of the
        barber&rsquo;s shop. Left alone, Makar Kuzmitch sits down and goes on
        quietly weeping.
      </p>

      <p>Early next morning Erast Ivanitch comes again.</p>

      <p>&ldquo;What do you want?&rdquo; Makar Kuzmitch asks him coldly.</p>

      <p>
        &ldquo;Finish cutting my hair, Makarushka. There is half the head left
        to do.&rdquo;
      </p>

      <p>
        &ldquo;Kindly give me the money in advance. I won&rsquo;t cut it for
        nothing.&rdquo;
      </p>

      <p>
        Without saying a word Erast Ivanitch goes out, and to this day his hair
        is long on one side of the head and short on the other. He regards it as
        extravagance to pay for having his hair cut and is waiting for the hair
        to grow of itself on the shaven side.
      </p>

      <p>He danced at the wedding in that condition.</p>
    </div>
  </body>
</html>
