<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>OVERDOING IT</p>

      <p>
        GLYEB GAVRILOVITCH SMIRNOV, a land surveyor, arrived at the station of
        Gnilushki. He had another twenty or thirty miles to drive before he
        would reach the estate which he had been summoned to survey. (If the
        driver were not drunk and the horses were not bad, it would hardly be
        twenty miles, but if the driver had had a drop and his steeds were worn
        out it would mount up to a good forty.)
      </p>

      <p>
        &ldquo;Tell me, please, where can I get post-horses here?&rdquo; the
        surveyor asked of the station gendarme.
      </p>

      <p>
        &ldquo;What? Post-horses? There&rsquo;s no finding a decent dog for
        seventy miles round, let alone post-horses. . . . But where do you want
        to go?&rdquo;
      </p>

      <p>&ldquo;To Dyevkino, General Hohotov&rsquo;s estate.&rdquo;</p>

      <p>
        &ldquo;Well,&rdquo; yawned the gendarme, &ldquo;go outside the station,
        there are sometimes peasants in the yard there, they will take
        passengers.&rdquo;
      </p>

      <p>The surveyor heaved a sigh and made his way out of the station.</p>

      <p>
        There, after prolonged enquiries, conversations, and hesitations, he
        found a very sturdy, sullen-looking pock-marked peasant, wearing a
        tattered grey smock and bark-shoes.
      </p>

      <p>
        &ldquo;You have got a queer sort of cart!&rdquo; said the surveyor,
        frowning as he clambered into the cart. &ldquo;There is no making out
        which is the back and which is the front.&rdquo;
      </p>

      <p>
        &ldquo;What is there to make out? Where the horse&rsquo;s tail is,
        there&rsquo;s the front, and where your honour&rsquo;s sitting,
        there&rsquo;s the back.&rdquo;
      </p>

      <p>
        The little mare was young, but thin, with legs planted wide apart and
        frayed ears. When the driver stood up and lashed her with a whip made of
        cord, she merely shook her head; when he swore at her and lashed her
        once more, the cart squeaked and shivered as though in a fever. After
        the third lash the cart gave a lurch, after the fourth, it moved
        forward.
      </p>

      <p>
        &ldquo;Are we going to drive like this all the way?&rdquo; asked the
        surveyor, violently jolted and marvelling at the capacity of Russian
        drivers for combining a slow tortoise-like pace with a jolting that
        turns the soul inside out.
      </p>

      <p>
        &ldquo;We shall ge-et there!&rdquo; the peasant reassured him.
        &ldquo;The mare is young and frisky. . . . Only let her get running and
        then there is no stopping her. . . . No-ow, cur-sed brute!&rdquo;
      </p>

      <p>
        It was dusk by the time the cart drove out of the station. On the
        surveyor&rsquo;s right hand stretched a dark frozen plain, endless and
        boundless. If you drove over it you would certainly get to the other
        side of beyond. On the horizon, where it vanished and melted into the
        sky, there was the languid glow of a cold autumn sunset. . . . On the
        left of the road, mounds of some sort, that might be last year&rsquo;s
        stacks or might be a village, rose up in the gathering darkness. The
        surveyor could not see what was in front as his whole field of vision on
        that side was covered by the broad clumsy back of the driver. The air
        was still, but it was cold and frosty.
      </p>

      <p>
        &ldquo;What a wilderness it is here,&rdquo; thought the surveyor, trying
        to cover his ears with the collar of his overcoat. &ldquo;Neither post
        nor paddock. If, by ill-luck, one were attacked and robbed no one would
        hear you, whatever uproar you made. . . . And the driver is not one you
        could depend on. . . . Ugh, what a huge back! A child of nature like
        that has only to move a finger and it would be all up with one! And his
        ugly face is suspicious and brutal-looking.&rdquo;
      </p>

      <p>
        &ldquo;Hey, my good man!&rdquo; said the surveyor, &ldquo;What is your
        name?&rdquo;
      </p>

      <p>&ldquo;Mine? Klim.&rdquo;</p>

      <p>
        &ldquo;Well, Klim, what is it like in your parts here? Not dangerous?
        Any robbers on the road?&rdquo;
      </p>

      <p>
        &ldquo;It is all right, the Lord has spared us. . . . Who should go
        robbing on the road?&rdquo;
      </p>

      <p>
        &ldquo;It&rsquo;s a good thing there are no robbers. But to be ready for
        anything I have got three revolvers with me,&rdquo; said the surveyor
        untruthfully. &ldquo;And it doesn&rsquo;t do to trifle with a revolver,
        you know. One can manage a dozen robbers. . . .&rdquo;
      </p>

      <p>
        It had become quite dark. The cart suddenly began creaking, squeaking,
        shaking, and, as though unwillingly, turned sharply to the left.
      </p>

      <p>
        &ldquo;Where is he taking me to?&rdquo; the surveyor wondered. &ldquo;He
        has been driving straight and now all at once to the left. I
        shouldn&rsquo;t wonder if he&rsquo;ll take me, the rascal, to some den
        of thieves . . . and. . . . Things like that do happen.&rdquo;
      </p>

      <p>
        &ldquo;I say,&rdquo; he said, addressing the driver, &ldquo;so you tell
        me it&rsquo;s not dangerous here? That&rsquo;s a pity. . . I like a
        fight with robbers. . . . I am thin and sickly-looking, but I have the
        strength of a bull . . . . Once three robbers attacked me and what do
        you think? I gave one such a dressing that. . . that he gave up his soul
        to God, you understand, and the other two were sent to penal servitude
        in Siberia. And where I got the strength I can&rsquo;t say. . . . One
        grips a strapping fellow of your sort with one hand and . . . wipes him
        out.&rdquo;
      </p>

      <p>
        Klim looked round at the surveyor, wrinkled up his whole face, and
        lashed his horse.
      </p>

      <p>
        &ldquo;Yes . . .&rdquo; the surveyor went on. &ldquo;God forbid anyone
        should tackle me. The robber would have his bones broken, and,
        what&rsquo;s more, he would have to answer for it in the police court
        too. . . . I know all the judges and the police captains, I am a man in
        the Government, a man of importance. Here I am travelling and the
        authorities know . . . they keep a regular watch over me to see no one
        does me a mischief. There are policemen and village constables stuck
        behind bushes all along the road. . . . Sto . . . sto . . . .
        stop!&rdquo; the surveyor bawled suddenly. &ldquo;Where have you got to?
        Where are you taking me to?&rdquo;
      </p>

      <p>&ldquo;Why, don&rsquo;t you see? It&rsquo;s a forest!&rdquo;</p>

      <p>
        &ldquo;It certainly is a forest,&rdquo; thought the surveyor. &ldquo;I
        was frightened! But it won&rsquo;t do to betray my feelings. . . . He
        has noticed already that I am in a funk. Why is it he has taken to
        looking round at me so often? He is plotting something for certain. . .
        . At first he drove like a snail and now how he is dashing along!&rdquo;
      </p>

      <p>
        &ldquo;I say, Klim, why are you making the horse go like that?&rdquo;
      </p>

      <p>
        &ldquo;I am not making her go. She is racing along of herself. . . .
        Once she gets into a run there is no means of stopping her. It&rsquo;s
        no pleasure to her that her legs are like that.&rdquo;
      </p>

      <p>
        &ldquo;You are lying, my man, I see that you are lying. Only I advise
        you not to drive so fast. Hold your horse in a bit. . . . Do you hear?
        Hold her in!&rdquo;
      </p>

      <p>&ldquo;What for?&rdquo;</p>

      <p>
        &ldquo;Why . . . why, because four comrades were to drive after me from
        the station. We must let them catch us up. . . . They promised to
        overtake us in this forest. It will be more cheerful in their company. .
        . . They are a strong, sturdy set of fellows. . . . And each of them has
        got a pistol. Why do you keep looking round and fidgeting as though you
        were sitting on thorns? eh? I, my good fellow, er . . . my good fellow .
        . . there is no need to look around at me . . . there is nothing
        interesting about me. . . . Except perhaps the revolvers. Well, if you
        like I will take them out and show you. . . .&rdquo;
      </p>

      <p>
        The surveyor made a pretence of feeling in his pockets and at that
        moment something happened which he could not have expected with all his
        cowardice. Klim suddenly rolled off the cart and ran as fast as he could
        go into the forest.
      </p>

      <p>
        &ldquo;Help!&rdquo; he roared. &ldquo;Help! Take the horse and the cart,
        you devil, only don&rsquo;t take my life. Help!&rdquo;
      </p>

      <p>
        There was the sound of footsteps hurriedly retreating, of twigs
        snapping&mdash;and all was still. . . . The surveyor had not expected
        such a d&Atilde;&copy;nouement. He first stopped the horse and then
        settled himself more comfortably in the cart and fell to thinking.
      </p>

      <p>
        &ldquo;He has run off . . . he was scared, the fool. Well, what&rsquo;s
        to be done now? I can&rsquo;t go on alone because I don&rsquo;t know the
        way; besides they may think I have stolen his horse. . . . What&rsquo;s
        to be done?&rdquo;
      </p>

      <p>&ldquo;Klim! Klim,&rdquo; he cried.</p>

      <p>&ldquo;Klim,&rdquo; answered the echo.</p>

      <p>
        At the thought that he would have to sit through the whole night in the
        cold and dark forest and hear nothing but the wolves, the echo, and the
        snorting of the scraggy mare, the surveyor began to have twinges down
        his spine as though it were being rasped with a cold file.
      </p>

      <p>
        &ldquo;Klimushka,&rdquo; he shouted. &ldquo;Dear fellow! Where are you,
        Klimushka?&rdquo;
      </p>

      <p>
        For two hours the surveyor shouted, and it was only after he was quite
        husky and had resigned himself to spending the night in the forest that
        a faint breeze wafted the sound of a moan to him.
      </p>

      <p>&ldquo;Klim, is it you, dear fellow? Let us go on.&rdquo;</p>

      <p>&ldquo;You&rsquo;ll mu-ur-der me!&rdquo;</p>

      <p>
        &ldquo;But I was joking, my dear man! I swear to God I was joking! As
        though I had revolvers! I told a lie because I was frightened. For
        goodness sake let us go on, I am freezing!&rdquo;
      </p>

      <p>
        Klim, probably reflecting that a real robber would have vanished long
        ago with the horse and cart, came out of the forest and went
        hesitatingly up to his passenger.
      </p>

      <p>
        &ldquo;Well, what were you frightened of, stupid? I . . . I was joking
        and you were frightened. Get in!&rdquo;
      </p>

      <p>
        &ldquo;God be with you, sir,&rdquo; Klim muttered as he clambered into
        the cart, &ldquo;if I had known I wouldn&rsquo;t have taken you for a
        hundred roubles. I almost died of fright. . . .&rdquo;
      </p>

      <p>
        Klim lashed at the little mare. The cart swayed. Klim lashed once more
        and the cart gave a lurch. After the fourth stroke of the whip when the
        cart moved forward, the surveyor hid his ears in his collar and sank
        into thought.
      </p>

      <p>The road and Klim no longer seemed dangerous to him.</p>
    </div>
  </body>
</html>
