<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>IN AN HOTEL</p>

      <p>
        &ldquo;LET me tell you, my good man,&rdquo; began Madame Nashatyrin, the
        colonel&rsquo;s lady at No. 47, crimson and spluttering, as she pounced
        on the hotel- keeper. &ldquo;Either give me other apartments, or I shall
        leave your confounded hotel altogether! It&rsquo;s a sink of iniquity!
        Mercy on us, I have grown-up daughters and one hears nothing but
        abominations day and night! It&rsquo;s beyond everything! Day and night!
        Sometimes he fires off such things that it simply makes one&rsquo;s ears
        blush! Positively like a cabman. It&rsquo;s a good thing that my poor
        girls don&rsquo;t understand or I should have to fly out into the street
        with them. . . He&rsquo;s saying something now! You listen!&rdquo;
      </p>

      <p>
        &ldquo;I know a thing better than that, my boy,&rdquo; a husky bass
        floated in from the next room. &ldquo;Do you remember Lieutenant
        Druzhkov? Well, that same Druzhkov was one day making a drive with the
        yellow into the pocket and as he usually did, you know, flung up his
        leg. . . . All at once something went crrr-ack! At first they thought he
        had torn the cloth of the billiard table, but when they looked, my dear
        fellow, his United States had split at every seam! He had made such a
        high kick, the beast, that not a seam was left. . . . Ha-ha-ha, and
        there were ladies present, too . . . among others the wife of that
        drivelling Lieutenant Okurin. . . . Okurin was furious. . . . &lsquo;How
        dare the fellow,&rsquo; said he, &lsquo;behave with impropriety in the
        presence of my wife?&rsquo; One thing led to another . . . you know our
        fellows! . . . Okurin sent seconds to Druzhkov, and Druzhkov said
        &lsquo;don&rsquo;t be a fool&rsquo; . . . ha-ha-ha, &lsquo;but tell him
        he had better send seconds not to me but to the tailor who made me those
        breeches; it is his fault, you know.&rsquo; Ha-ha-ha! Ha-ha-ha. . .
        .&rdquo;
      </p>

      <p>
        Lilya and Mila, the colonel&rsquo;s daughters, who were sitting in the
        window with their round cheeks propped on their fists, flushed crimson
        and dropped their eyes that looked buried in their plump faces.
      </p>

      <p>
        &ldquo;Now you have heard him, haven&rsquo;t you?&rdquo; Madame
        Nashatyrin went on, addressing the hotel-keeper. &ldquo;And that, you
        consider, of no consequence, I suppose? I am the wife of a colonel, sir!
        My husband is a commanding officer. I will not permit some cabman to
        utter such infamies almost in my presence!&rdquo;
      </p>

      <p>
        &ldquo;He is not a cabman, madam, but the staff-captain Kikin. . . . A
        gentleman born.&rdquo;
      </p>

      <p>
        &ldquo;If he has so far forgotten his station as to express himself like
        a cabman, then he is even more deserving of contempt! In short,
        don&rsquo;t answer me, but kindly take steps!&rdquo;
      </p>

      <p>
        &ldquo;But what can I do, madam? You are not the only one to complain,
        everybody&rsquo;s complaining, but what am I to do with him? One goes to
        his room and begins putting him to shame, saying: &lsquo;Hannibal
        Ivanitch, have some fear of God! It&rsquo;s shameful! and he&rsquo;ll
        punch you in the face with his fists and say all sorts of things:
        &lsquo;there, put that in your pipe and smoke it,&rsquo; and such like.
        It&rsquo;s a disgrace! He wakes up in the morning and sets to walking
        about the corridor in nothing, saving your presence, but his
        underclothes. And when he has had a drop he will pick up a revolver and
        set to putting bullets into the wall. By day he is swilling liquor and
        at night he plays cards like mad, and after cards it is fighting. . . .
        I am ashamed for the other lodgers to see it!&rdquo;
      </p>

      <p>&ldquo;Why don&rsquo;t you get rid of the scoundrel?&rdquo;</p>

      <p>
        &ldquo;Why, there&rsquo;s no getting him out! He owes me for three
        months, but we don&rsquo;t ask for our money, we simply ask him to get
        out as a favour . . . . The magistrate has given him an order to clear
        out of the rooms, but he&rsquo;s taking it from one court to another,
        and so it drags on. . . . He&rsquo;s a perfect nuisance, that&rsquo;s
        what he is. And, good Lord, such a man, too! Young, good-looking and
        intellectual. . . . When he hasn&rsquo;t had a drop you couldn&rsquo;t
        wish to see a nicer gentleman. The other day he wasn&rsquo;t drunk and
        he spent the whole day writing letters to his father and mother.&rdquo;
      </p>

      <p>
        &ldquo;Poor father and mother!&rdquo; sighed the colonel&rsquo;s lady.
      </p>

      <p>
        &ldquo;They are to be pitied, to be sure! There&rsquo;s no comfort in
        having such a scamp! He&rsquo;s sworn at and turned out of his lodgings,
        and not a day passes but he is in trouble over some scandal. It&rsquo;s
        sad!&rdquo;
      </p>

      <p>&ldquo;His poor unhappy wife!&rdquo; sighed the lady.</p>

      <p>
        &ldquo;He has no wife, madam. A likely idea! She would have to thank God
        if her head were not broken. . . .&rdquo;
      </p>

      <p>The lady walked up and down the room.</p>

      <p>&ldquo;He is not married, you say?&rdquo;</p>

      <p>&ldquo;Certainly not, madam.&rdquo;</p>

      <p>The lady walked up and down the room again and mused a little.</p>

      <p>
        &ldquo;H&rsquo;m, not married . . .&rdquo; she pronounced meditatively.
        &ldquo;H&rsquo;m. Lilya and Mila, don&rsquo;t sit at the window,
        there&rsquo;s a draught! What a pity! A young man and to let himself
        sink to this! And all owing to what? The lack of good influence! There
        is no mother who would. . . . Not married? Well . . . there it is. . . .
        Please be so good,&rdquo; the lady continued suavely after a
        moment&rsquo;s thought, &ldquo;as to go to him and ask him in my name to
        . . . refrain from using expressions. . . . Tell him that Madame
        Nashatyrin begs him. . . . Tell him she is staying with her daughters in
        No. 47 . . . that she has come up from her estate in the country. . .
        .&rdquo;
      </p>

      <p>&ldquo;Certainly.&rdquo;</p>

      <p>
        &ldquo;Tell him, a colonel&rsquo;s lady and her daughters. He might even
        come and apologize. . . . We are always at home after dinner. Oh, Mila,
        shut the window!&rdquo;
      </p>

      <p>
        &ldquo;Why, what do you want with that . . . black sheep, mamma?&rdquo;
        drawled Lilya when the hotel-keeper had retired. &ldquo;A queer person
        to invite! A drunken, rowdy rascal!&rdquo;
      </p>

      <p>
        &ldquo;Oh, don&rsquo;t say so, ma ch&Atilde;&uml;re! You always talk
        like that; and there . . . sit down! Why, whatever he may be, we ought
        not to despise him. . . . There&rsquo;s something good in everyone. Who
        knows,&rdquo; sighed the colonel&rsquo;s lady, looking her daughters up
        and down anxiously, &ldquo;perhaps your fate is here. Change your
        dresses anyway. . . .&rdquo;
      </p>
    </div>
  </body>
</html>
