<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <p>Old man, come with me, I beg! Old man! Why are you silent?&rdquo;</p>

      <p>&ldquo;He is a bit simple,&rdquo; says the young man.</p>

      <p>
        &ldquo;You come with me, friend; I will give you five kopecks.&rdquo;
      </p>

      <p>
        &ldquo;For five kopecks I might,&rdquo; says the young man, scratching
        his head, &ldquo;but I was told not to. If Syoma here, our simpleton,
        will stay alone, I will take you. Syoma, will you stay here
        alone?&rdquo;
      </p>

      <p>&ldquo;I&rsquo;ll stay,&rdquo; the simpleton consents.</p>

      <p>
        &ldquo;Well, that&rsquo;s all right, then. Come along!&rdquo; The young
        man gets up, and goes with the cassock. A minute later the sound of
        their steps and their talk dies away. Syoma shuts his eyes and gently
        dozes. The fire begins to grow dim, and a big black shadow falls on the
        dead body.
      </p>
    </div>
  </body>
</html>
