<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/styles.css" />
    <title>Story</title>
  </head>
  <body>
    <div class="story">
      <h1>THE LOOKING-GLASS</h1>

      <p>
        NEW YEAR&rsquo;S EVE. Nellie, the daughter of a landowner and general, a
        young and pretty girl, dreaming day and night of being married, was
        sitting in her room, gazing with exhausted, half-closed eyes into the
        looking- glass. She was pale, tense, and as motionless as the
        looking-glass.
      </p>

      <p>
        The non-existent but apparent vista of a long, narrow corridor with
        endless rows of candles, the reflection of her face, her hands, of the
        frame&mdash;all this was already clouded in mist and merged into a
        boundless grey sea. The sea was undulating, gleaming and now and then
        flaring crimson. . . .
      </p>

      <p>
        Looking at Nellie&rsquo;s motionless eyes and parted lips, one could
        hardly say whether she was asleep or awake, but nevertheless she was
        seeing. At first she saw only the smile and soft, charming expression of
        someone&rsquo;s eyes, then against the shifting grey background there
        gradually appeared the outlines of a head, a face, eyebrows, beard. It
        was he, the destined one, the object of long dreams and hopes. The
        destined one was for Nellie everything, the significance of life,
        personal happiness, career, fate. Outside him, as on the grey background
        of the looking-glass, all was dark, empty, meaningless. And so it was
        not strange that, seeing before her a handsome, gently smiling face, she
        was conscious of bliss, of an unutterably sweet dream that could not be
        expressed in speech or on paper. Then she heard his voice, saw herself
        living under the same roof with him, her life merged into his. Months
        and years flew by against the grey background. And Nellie saw her future
        distinctly in all its details.
      </p>

      <p>
        Picture followed picture against the grey background. Now Nellie saw
        herself one winter night knocking at the door of Stepan Lukitch, the
        district doctor. The old dog hoarsely and lazily barked behind the gate.
        The doctor&rsquo;s windows were in darkness. All was silence.
      </p>

      <p>
        &ldquo;For God&rsquo;s sake, for God&rsquo;s sake!&rdquo; whispered
        Nellie.
      </p>

      <p>
        But at last the garden gate creaked and Nellie saw the doctor&rsquo;s
        cook.
      </p>

      <p>&ldquo;Is the doctor at home?&rdquo;</p>

      <p>
        &ldquo;His honour&rsquo;s asleep,&rdquo; whispered the cook into her
        sleeve, as though afraid of waking her master.
      </p>

      <p>
        &ldquo;He&rsquo;s only just got home from his fever patients, and gave
        orders he was not to be waked.&rdquo;
      </p>

      <p>
        But Nellie scarcely heard the cook. Thrusting her aside, she rushed
        headlong into the doctor&rsquo;s house. Running through some dark and
        stuffy rooms, upsetting two or three chairs, she at last reached the
        doctor&rsquo;s bedroom. Stepan Lukitch was lying on his bed, dressed,
        but without his coat, and with pouting lips was breathing into his open
        hand. A little night-light glimmered faintly beside him. Without
        uttering a word Nellie sat down and began to cry. She wept bitterly,
        shaking all over.
      </p>

      <p>
        &ldquo;My husband is ill!&rdquo; she sobbed out. Stepan Lukitch was
        silent. He slowly sat up, propped his head on his hand, and looked at
        his visitor with fixed, sleepy eyes. &ldquo;My husband is ill!&rdquo;
        Nellie continued, restraining her sobs. &ldquo;For mercy&rsquo;s sake
        come quickly. Make haste. . . . Make haste!&rdquo;
      </p>

      <p>&ldquo;Eh?&rdquo; growled the doctor, blowing into his hand.</p>

      <p>
        &ldquo;Come! Come this very minute! Or . . . it&rsquo;s terrible to
        think! For mercy&rsquo;s sake!&rdquo;
      </p>

      <p>
        And pale, exhausted Nellie, gasping and swallowing her tears, began
        describing to the doctor her husband&rsquo;s illness, her unutterable
        terror. Her sufferings would have touched the heart of a stone, but the
        doctor looked at her, blew into his open hand, and&mdash;not a movement.
      </p>

      <p>&ldquo;I&rsquo;ll come to-morrow!&rdquo; he muttered.</p>

      <p>
        &ldquo;That&rsquo;s impossible!&rdquo; cried Nellie. &ldquo;I know my
        husband has typhus! At once . . . this very minute you are
        needed!&rdquo;
      </p>

      <p>
        &ldquo;I . . . er . . . have only just come in,&rdquo; muttered the
        doctor. &ldquo;For the last three days I&rsquo;ve been away, seeing
        typhus patients, and I&rsquo;m exhausted and ill myself. . . . I simply
        can&rsquo;t! Absolutely! I&rsquo;ve caught it myself! There!&rdquo;
      </p>

      <p>And the doctor thrust before her eyes a clinical thermometer.</p>

      <p>
        &ldquo;My temperature is nearly forty. . . . I absolutely can&rsquo;t. I
        can scarcely sit up. Excuse me. I&rsquo;ll lie down. . . .&rdquo;
      </p>

      <p>The doctor lay down.</p>

      <p>
        &ldquo;But I implore you, doctor,&rdquo; Nellie moaned in despair.
        &ldquo;I beseech you! Help me, for mercy&rsquo;s sake! Make a great
        effort and come! I will repay you, doctor!&rdquo;
      </p>

      <p>&ldquo;Oh, dear! . . . Why, I have told you already. Ah!&rdquo;</p>

      <p>
        Nellie leapt up and walked nervously up and down the bedroom. She longed
        to explain to the doctor, to bring him to reason. . . . She thought if
        only he knew how dear her husband was to her and how unhappy she was, he
        would forget his exhaustion and his illness. But how could she be
        eloquent enough?
      </p>

      <p>
        &ldquo;Go to the Zemstvo doctor,&rdquo; she heard Stepan Lukitch&rsquo;s
        voice.
      </p>

      <p>
        &ldquo;That&rsquo;s impossible! He lives more than twenty miles from
        here, and time is precious. And the horses can&rsquo;t stand it. It is
        thirty miles from us to you, and as much from here to the Zemstvo
        doctor. No, it&rsquo;s impossible! Come along, Stepan Lukitch. I ask of
        you an heroic deed. Come, perform that heroic deed! Have pity on
        us!&rdquo;
      </p>

      <p>
        &ldquo;It&rsquo;s beyond everything. . . . I&rsquo;m in a fever . . . my
        head&rsquo;s in a whirl . . . and she won&rsquo;t understand! Leave me
        alone!&rdquo;
      </p>

      <p>
        &ldquo;But you are in duty bound to come! You cannot refuse to come!
        It&rsquo;s egoism! A man is bound to sacrifice his life for his
        neighbour, and you . . . you refuse to come! I will summon you before
        the Court.&rdquo;
      </p>

      <p>
        Nellie felt that she was uttering a false and undeserved insult, but for
        her husband&rsquo;s sake she was capable of forgetting logic, tact,
        sympathy for others. . . . In reply to her threats, the doctor greedily
        gulped a glass of cold water. Nellie fell to entreating and imploring
        like the very lowest beggar. . . . At last the doctor gave way. He
        slowly got up, puffing and panting, looking for his coat.
      </p>

      <p>
        &ldquo;Here it is!&rdquo; cried Nellie, helping him. &ldquo;Let me put
        it on to you. Come along! I will repay you. . . . All my life I shall be
        grateful to you. . . .&rdquo;
      </p>

      <p>
        But what agony! After putting on his coat the doctor lay down again.
        Nellie got him up and dragged him to the hall. Then there was an
        agonizing to-do over his goloshes, his overcoat. . . . His cap was lost.
        . . . But at last Nellie was in the carriage with the doctor. Now they
        had only to drive thirty miles and her husband would have a
        doctor&rsquo;s help. The earth was wrapped in darkness. One could not
        see one&rsquo;s hand before one&rsquo;s face. . . . A cold winter wind
        was blowing. There were frozen lumps under their wheels. The coachman
        was continually stopping and wondering which road to take.
      </p>

      <p>
        Nellie and the doctor sat silent all the way. It was fearfully jolting,
        but they felt neither the cold nor the jolts.
      </p>

      <p>&ldquo;Get on, get on!&rdquo; Nellie implored the driver.</p>

      <p>
        At five in the morning the exhausted horses drove into the yard. Nellie
        saw the familiar gates, the well with the crane, the long row of stables
        and barns. At last she was at home.
      </p>

      <p>
        &ldquo;Wait a moment, I will be back directly,&rdquo; she said to Stepan
        Lukitch, making him sit down on the sofa in the dining-room. &ldquo;Sit
        still and wait a little, and I&rsquo;ll see how he is going on.&rdquo;
      </p>

      <p>
        On her return from her husband, Nellie found the doctor lying down. He
        was lying on the sofa and muttering.
      </p>

      <p>&ldquo;Doctor, please! . . . doctor!&rdquo;</p>

      <p>&ldquo;Eh? Ask Domna!&rdquo; muttered Stepan Lukitch.</p>

      <p>&ldquo;What?&rdquo;</p>

      <p>
        &ldquo;They said at the meeting . . . Vlassov said . . . Who? . . .
        what?&rdquo;
      </p>

      <p>
        And to her horror Nellie saw that the doctor was as delirious as her
        husband. What was to be done?
      </p>

      <p>&ldquo;I must go for the Zemstvo doctor,&rdquo; she decided.</p>

      <p>
        Then again there followed darkness, a cutting cold wind, lumps of frozen
        earth. She was suffering in body and in soul, and delusive nature has no
        arts, no deceptions to compensate these sufferings. . . .
      </p>

      <p>
        Then she saw against the grey background how her husband every spring
        was in straits for money to pay the interest for the mortgage to the
        bank. He could not sleep, she could not sleep, and both racked their
        brains till their heads ached, thinking how to avoid being visited by
        the clerk of the Court.
      </p>

      <p>
        She saw her children: the everlasting apprehension of colds, scarlet
        fever, diphtheria, bad marks at school, separation. Out of a brood of
        five or six one was sure to die.
      </p>

      <p>
        The grey background was not untouched by death. That might well be. A
        husband and wife cannot die simultaneously. Whatever happened one must
        bury the other. And Nellie saw her husband dying. This terrible event
        presented itself to her in every detail. She saw the coffin, the
        candles, the deacon, and even the footmarks in the hall made by the
        undertaker.
      </p>

      <p>
        &ldquo;Why is it, what is it for?&rdquo; she asked, looking blankly at
        her husband&rsquo;s face.
      </p>

      <p>
        And all the previous life with her husband seemed to her a stupid
        prelude to this.
      </p>

      <p>
        Something fell from Nellie&rsquo;s hand and knocked on the floor. She
        started, jumped up, and opened her eyes wide. One looking-glass she saw
        lying at her feet. The other was standing as before on the table.
      </p>

      <p>
        She looked into the looking-glass and saw a pale, tear-stained face.
        There was no grey background now.
      </p>

      <p>
        &ldquo;I must have fallen asleep,&rdquo; she thought with a sigh of
        relief.
      </p>
    </div>
  </body>
</html>
